<form>
  <div class="field check-field">
    {{ widget.display_hours.id_hidden_field }}
    <label for="{{ widget.display_hours.value_field_id }}" >
      Display Hours
    </label>
    <input type="hidden"
      id="{{ widget.display_hours.value_field_id }}_false"
      name="{{ widget.display_hours.value_field_name }}"
      value="false"
    />
    <input type="checkbox"
      id="{{ widget.display_hours.value_field_id }}"
      name="{{ widget.display_hours.value_field_name }}"
      value="true"
      {% if widget.display_hours.best_value == "true" %}
      checked="checked"
      {% endif %}
    />
  </div>

  <div class="field">
    {{ widget.hours.id_hidden_field }}
    <label for="{{ widget.hours.value_field_id }}" >
      Hours
    </label>
    <textarea
      id="ckeditor"
      name="{{ widget.hours.value_field_name }}"
    >{{ widget.hours.value }}</textarea>
  </div>

  <input type="submit" value="Save" />
</form>
