<script id="floorplan-cards-config" type="application/json">
  {
    "floorplanDataFeed": "{{ widget.floorplan_data_feed.best_value }}",
    "ctaText": "{{ widget.cta_text.best_value }}",
    "headingColor": "{{ widget.heading_color.best_value }}",
    "ctaColor": "{{ widget.cta_color.best_value }}",
    "accentColor1": "{{ widget.accent_color_1.best_value }}",
    "accentColor2": "{{ widget.accent_color_2.best_value }}",
    "textColor": "{{ widget.text_color.best_value }}"
  }
</script>

<div class="floorplans-cards">
  <h2>{{ widget.header_text.best_value}}</h2>
</div>
