<div class="row{% if widget.row_text_color.best_value != 'default' %} text-{{widget.row_text_color.best_value}}{% endif %}" {% if widget.row_bg_color.best_value != '' %}style="background-color: {{ widget.row_bg_color.best_value }}"{% endif %}>
  <div class="content row-{{ widget.row_layout.best_value }}">

    <div class="col col-1" id="drop-target-first-col"></div>

    {% if widget.row_layout.best_value != "single" %}
      <div class="col col-2" id="drop-target-second-col"></div>
    {% endif %}

    {% if widget.row_layout.best_value == "thirds" or widget.row_layout.best_value == "quarters" %}
      <div class="col col-3" id="drop-target-third-col"></div>
    {% endif %}

    {% if widget.row_layout.best_value == "quarters" %}
      <div class="col col-4" id="drop-target-fourth-col"></div>
    {% endif %}

  </div>
</div>
