<form>
  <fieldset>
    <legend>Choose information you want to include</legend>
    <div class="field check">
      <input type="checkbox" />
      <label>Business Name</label>
    </div>
    <div class="field check">
      <input type="checkbox" />
      <label>Address</label>
    </div>
    <div class="field check">
      <input type="checkbox" />
      <label>Phone Number</label>
    </div>
    <div class="field check">
      <input type="checkbox" />
      <label>Fax Number</label>
    </div>
    <div class="field check">
      <input type="checkbox" />
      <label>Email Address</label>
    </div>
    <div class="field check">
      <input type="checkbox" />
      <label>Website Address</label>
    </div>
  </fieldset>
  <input type="submit" value="Save" />
</form>