<div class="hcard vcard widget">
  <p class="h-adr adr">
    {% if widget.hcard_street.value != empty %}
    <span class="p-street-address street-address">
      {{ widget.hcard_street.value}}
    </span>
    {% endif %}

    {% if widget.hcard_street_two.value != empty %}
    <span class="p-street-address street-address">
      {{ widget.hcard_street_two.value}}
    </span>
    {% endif %}

    {% if widget.hcard_city.value != empty %}
    <span class="p-locality locality">
      {{ widget.hcard_city.value }}</span>,
    {% endif %}

    {% if widget.hcard_state.value != empty %}
    <span class="p-region region">
      {{ widget.hcard_state.value }}
    </span>
    {% endif %}

    {% if widget.hcard_zip.value != empty %}
    <span class="p-postal-code postal-code">
      {{ widget.hcard_zip.value }}
    </span>
    {% endif %}

    {% if widget.hcard_country.value != empty %}
    <span class="p-country-name country-name">
      {{ widget.hcard_country.value }}
    </span>
    {% endif %}
  </p>

  {% if widget.hcard_tel.value != empty %}
  <p class="p-tel tel">
    T: <a href="tel:{{ widget.hcard_tel.value }}">{{ widget.hcard_tel.value }}</a>
  </p>
  {% endif %}

  {% if widget.hcard_fax.value != empty %}
  <p class="p-tel tel">
    F: {{ widget.hcard_fax.value }}
  </p>
  {% endif %}
</div>
