<div class="hcard vcard widget">
  <p class="h-adr adr">
    <span class="p-street-address street-address">{{ widget.hcard.street.value}}</span>
    <span class="p-street-address street-address">{{ widget.hcard.street-2.value}}</span>
    <span class="p-locality locality">{{ widget.hcard.city.value }}</span>, <span class="p-region region">{{ widget.hcard.state.value }}</span> <span class="p-postal-code postal-code">{{ widget.hcard.zip.value }}</span>
    <span class="p-country-name country-name">{{ widget.hcard.country.value }}</span>
  </p>
  <p class="p-tel tel">T: <a href="tel://{{ widget.hcard.tel.value }}">{{ widget.hcard.tel.value }}</a></p>
  <p class="p-tel tel">F: {{ widget.hcard.fax.value }}</p>
</div>