<form>
  <fieldset>
    
    <div class="form-field">
      {{ widget.client_urn.id_hidden_field }}
      <label for="{{ widget.client_urn.value_field_id }}">
        Client URN
      </label>
      <input type="text"
        placeholder="g5-sh-4neb3ck3r-isatool"
        id="{{ widget.client_urn.value_field_id }}"
        name="{{ widget.client_urn.value_field_name }}"
        value="{{ widget.client_urn.best_value }}"
      />
    </div>
    
  </fieldset>

  <input type="submit" value="Save" class="btn" />
</form>
