<div class="form-template widget">

  <p class="heading">{{ widget.form_title.best_value}}</p>

  <form id="form-template" class="form h-entry" action="{{ widget.form_url.best_value | url_encode }}" method="POST">
    <input type="hidden" class="u-syndication" name="u-syndication" value="{{ widget.form_syndication.best_value | url_encode }}" />

    <div class="p-author h-card">
      <div class="form-field">
        <label for="form-name">Name</label>
        <input type="text" id="form-name" class="p-name" name="p-name" required>
      </div>

      <div class="form-field">
        <label for="form-email">Email</label>
        <input type="text" id="form-email" class="u-email" name="u-email" required>
      </div>
    </div>

    <div class="form-field">
      <label for="form-message">Message</label>
      <input type="text" id="form-message" class="p-name" name="e-content" required>
    </div>

    <input type="submit" value="Send" />
  </form>

</div>
