.city-state-zip-search {
  width:100%;
  position:relative;
}


/* SEARCH FORM WRAPPER */
/*************************************/
.city-state-zip-search .zip-search-top{
  width:40%;
  float:right;
  position:relative;
  text-align:center;
}

.city-state-zip-search .zip-search-button,
.city-state-zip-search .zip-search-input{
  display:inline-block;
  margin:5px;
}

.city-state-zip-search input,
.city-state-zip-search button{
  display:inline-block;
  padding:5px;
  margin:0;
  border:1px solid #888;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.city-state-zip-search button{
  border:none;
  padding:5px 10px;
}

/* SEARCH RESULTS */
/*************************************/
.city-state-zip-search .search-results{
  width:55%;
  float:left;
}

.city-state-zip-search .location-card{
  padding:10px;
  margin:10px;
  box-shadow:1px 1px 2px 1px #ccc;
}

.location-address { padding-left:25%; }

.city-state-zip-search .location-card img{
  float:left;
  width:20%;
}

.location-link{ 
  display:block;
  background:blue;
  color:#fff;
  padding:5px;
  text-align:center;
  margin-top: 10px;
}


/* GOOGLE MAP */
/*************************************/
.city-state-zip-search .zip-search-map{
  height:400px;
  width:43%;
  float:right;
}

/* UnHack max width so controls work on google maps */
.city-state-zip-search .zip-search-map img {
  max-width: none;
}
