.city-state-zip-search {
  width:100%;
  position:relative;
}


/* SEARCH FORM */
/*************************************/
.zip-search-top{
  width:43%;
  float:right;
  position:relative;
  text-align:center;
  background:blue;
  margin-bottom:10px;
}

.zip-search-top div{color:#fff;}

.zip-search-button,
.zip-search-input{
  display:inline-block;
  margin:5px;
}

.city-state-zip-search input,
.city-state-zip-search button{
  display:inline-block;
  padding:5px;
  margin:0;
  border:1px solid #888;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.city-state-zip-search button{
  border:none;
  padding:5px 10px;
}

/* SEARCH RESULTS */
/*************************************/
.zip-search-results{
  width:55%;
  float:left;
}

.zip-search-location{
  padding:10px;
  margin:10px;
  box-shadow:1px 1px 2px 1px #ccc;
}

.zip-search-location .location-address { padding-left:25%; }

.zip-search-location img{
  float:left;
  width:20%;
}

.zip-search-location span{ display:block; }

.zip-search-location .branded-name,
.zip-search-location .phone{ font-weight:bold; }

.zip-search-location-link{ 
  display:block;
  background:blue;
  color:#fff;
  padding:5px;
  text-align:center;
  margin-top: 10px;
}


/* GOOGLE MAP */
/*************************************/
.zip-search-map{
  height:400px;
  width:43%;
  float:right;
}

/* UnHack max width so controls work on google maps */
.zip-search-map img {
  max-width: none;
}
