<form>
  <fieldset>
    <legend>Choose 2 widgets to include in footer</legend>
    <div class="field check">
      <input type="checkbox" />
      <label>HCard</label>
    </div>
    <div class="field check">
      <input type="checkbox" />
      <label>Hours</label>
    </div>
  </fieldset>
  <fieldset>
    <legend>Choose the links you want to include in the footer navigation</legend>
    <div class="field check">
      <input type="checkbox" />
      <label>Privacy</label>
    </div>
    <div class="field check">
      <input type="checkbox" />
      <label>Terms and Conditions</label>
    </div>
  </fieldset>
  <input type="submit" value="Save" />
</form>