<form>
  <fieldset>
    <legend>Choose which widgets to show</legend>

    <div class="field check-field">
      {{ widget.footer_display_hcard.id_hidden_field }}
      <label for="{{ widget.footer_display_hcard.value_field_id }}" >
        Show HCard
      </label>
      <input type="hidden"
        id="{{ widget.footer_display_hcard.value_field_id }}_false"
        name="{{ widget.footer_display_hcard.value_field_name }}"
        value="false"
      />
      <input type="checkbox"
        id="{{ widget.footer_display_hcard.value_field_id }}"
        name="{{ widget.footer_display_hcard.value_field_name }}"
        value="true"
        {% if widget.footer_display_hcard.value == "true" %}
        checked="checked"
        {% endif %}
      />
    </div>

    <div class="field check-field">
      {{ widget.footer_display_hours.id_hidden_field }}
      <label for="{{ widget.footer_display_hours.value_field_id }}" >
        Show Hours
      </label>
      <input type="hidden"
        id="{{ widget.footer_display_hours.value_field_id }}_false"
        name="{{ widget.footer_display_hours.value_field_name }}"
        value="false"
      />
      <input type="checkbox"
        id="{{ widget.footer_display_hours.value_field_id }}"
        name="{{ widget.footer_display_hours.value_field_name }}"
        value="true"
        {% if widget.footer_display_hours.value == "true" %}
        checked="checked"
        {% endif %}
      />
    </div>
  </fieldset>

  <input type="submit" value="Save" />
</form>
