<form>
  <div class="form-field">
    This is the edit form for the area widget. Please select a city.
    {{ widget.city.id_hidden_field }}
    {% for city in widget.client_cities %}
      <input type="radio"
        id="{{ widget.city.value_field_id }}{{ city | remove: " "}}"
        name="{{ widget.city.value_field_name }}"
        value="{{ city }}"
        {% assign locations_array = widget.city.best_value %}
        {% if locations_array contains city %}
         checked
        {% endif %}
      />
      <label for="{{ widget.city.value_field_id }}{{ city | remove: " "}}" >
        {{ city }}
      </label>
      <br>
    {% endfor %}
  </div>
  <input type="submit" value="Save" class="btn" />
</form>

