<div class="slideshow widget">

  {% if widget.gallery_photo1_url != '' %}
  <figure>
    <img src="{{widget.gallery_photo1_url.value | url_encode}}" alt="{{widget.gallery_photo1_alt}}" />
  </figure>
  {% endif %}

  {% if widget.gallery_photo2_url != '' %}
  <figure>
    <img src="{{widget.gallery_photo2_url.value | url_encode}}" alt="{{widget.gallery_photo2_alt}}" />
  </figure>
  {% endif %}

  {% if widget.gallery_photo3_url != '' %}
  <figure>
    <img src="{{widget.gallery_photo3_url.value | url_encode}}" alt="{{widget.gallery_photo3_alt}}" />
  </figure>
  {% endif %}

  {% if widget.gallery_photo4_url != '' %}
  <figure>
    <img src="{{widget.gallery_photo4_url.value | url_encode}}" alt="{{widget.gallery_photo4_alt}}" />
  </figure>
  {% endif %}

  {% if widget.gallery_photo5_url != '' %}
  <figure>
    <img src="{{widget.gallery_photo5_url.value | url_encode}}" alt="{{widget.gallery_photo5_alt}}" />
  </figure>
  {% endif %}

  {% if widget.gallery_photo6_url != '' %}
  <figure>
    <img src="{{widget.gallery_photo6_url.value | url_encode}}" alt="{{widget.gallery_photo6_alt}}" />
  </figure>
  {% endif %}

  {% if widget.gallery_photo7_url != '' %}
  <figure>
    <img src="{{widget.gallery_photo7_url.value | url_encode}}" alt="{{widget.gallery_photo7_alt}}" />
  </figure>
  {% endif %}

  {% if widget.gallery_photo8_url != '' %}
  <figure>
    <img src="{{widget.gallery_photo8_url.value | url_encode}}" alt="{{widget.gallery_photo8_alt}}" />
  </figure>
  {% endif %}

  {% if widget.gallery_photo9_url != '' %}
  <figure>
    <img src="{{widget.gallery_photo9_url.value | url_encode}}" alt="{{widget.gallery_photo9_alt}}" />
  </figure>
  {% endif %}

  {% if widget.gallery_photo10_url != '' %}
  <figure>
    <img src="{{widget.gallery_photo10_url.value | url_encode}}" alt="{{widget.gallery_photo10_alt}}" />
  </figure>
  {% endif %}

</div> <!-- end .gallery-basic -->
