<form>
  <div class="form-field">
    {{ widget.coupon_text.id_hidden_field }}
    <label for="{{ widget.coupon_text.value_field_id }}" >
      Coupon Text
    </label>
    <input type="text"
      id="{{ widget.coupon_text.value_field_id }}"
      name="{{ widget.coupon_text.value_field_name }}"
      value="{{ widget.coupon_text.value }}"
    />
  </div>

  <div class="form-field">
    {{ widget.coupon_description.id_hidden_field }}
    <label for="{{ widget.coupon_description.value_field_id }}" >
      Coupon Description
    </label>
    <input type="text"
      id="{{ widget.coupon_description.value_field_id }}"
      name="{{ widget.coupon_description.value_field_name }}"
      value="{{ widget.coupon_description.value }}"
    />
  </div>

  <div class="form-field">
    {{ widget.coupon_number.id_hidden_field }}
    <label for="{{ widget.coupon_number.value_field_id }}" >
      Coupon Number
    </label>
    <input type="text"
      id="{{ widget.coupon_number.value_field_id }}"
      name="{{ widget.coupon_number.value_field_name }}"
      value="{{ widget.coupon_number.value }}"
    />
  </div>

  <div class="form-field">
    {{ widget.coupon_barcode_url.id_hidden_field }}
    <label for="{{ widget.coupon_barcode_url.value_field_id }}" >
      Barcode URL
    </label>
    <input type="url"
      id="{{ widget.coupon_barcode_url.value_field_id }}"
      name="{{ widget.coupon_barcode_url.value_field_name }}"
      value="{{ widget.coupon_barcode_url.value | url_encode }}"
    />
  </div>

  <div class="form-field">
    {{ widget.coupon_email_url.id_hidden_field }}
    <label for="{{ widget.coupon_email_url.value_field_id }}" >
      Email / Text Submission URL
    </label>
    <input type="url"
      id="{{ widget.coupon_email_url.value_field_id }}"
      name="{{ widget.coupon_email_url.value_field_name }}"
      value="{{ widget.coupon_email_url.value | url_encode }}"
    />
  </div>

  <div class="form-field">
    {{ widget.location_logo_url.id_hidden_field }}
    <label for="{{ widget.location_logo_url.value_field_id }}" >
      Location Logo URL
    </label>
    <input type="url"
      id="{{ widget.location_logo_url.value_field_id }}"
      name="{{ widget.location_logo_url.value_field_name }}"
      value="{{ widget.location_logo_url.value | url_encode }}"
    />
  </div>

  <div class="form-field">
    {{ widget.location_directions.id_hidden_field }}
    <label for="{{ widget.location_directions.value_field_id }}" >
      Directions to Location
    </label>
    <textarea
      id="ckeditor"
      name="{{ widget.location_directions.value_field_name }}"
     >
      {{ widget.location_directions.value }}
    </textarea>
  </div>

  <input type="submit" value="Save" class="btn" />
</form>
