<form>
  <div class="field">
    {{ widget.title.id_hidden_field }}
    <label for="{{ widget.title.value_field_id }}" >
      Coupon Title
    </label>
    <input type="text"
      id="{{ widget.title.value_field_id }}"
      name="{{ widget.title.value_field_name }}"
      value="{{ widget.title.best_value }}"
    />
  </div>

  <div class="field">
    {{ widget.description.id_hidden_field }}
    <label for="{{ widget.description.value_field_id }}" >
      Coupon Description
    </label>
    <input type="text"
      id="{{ widget.description.value_field_id }}"
      name="{{ widget.description.value_field_name }}"
      value="{{ widget.description.best_value }}"
    />
  </div>

  <div class="field">
    {{ widget.barcode.id_hidden_field }}
    <label for="{{ widget.barcode.value_field_id }}" >
      Barcode URL
    </label>
    <input type="url"
      id="{{ widget.barcode.value_field_id }}"
      name="{{ widget.barcode.value_field_name }}"
      value="{{ widget.barcode.best_value }}"
    />
  </div>

  <input type="submit" value="Save" />
</form>
