<div class="coupon widget h-card">

  <div class="coupon-info">

    {% if widget.location_logo_url != '' %}
      <img src="{{widget.location_logo_url.best_value | url_encode}}" alt="{{widget.location_name.best_value}}" class="coupon-logo" />
    {% endif %}

    <h2 class="coupon-offer">{{ widget.coupon_text.best_value }}</h2>

    {% if widget.coupon_description != '' %}
      <p clas="coupon-description">{{ widget.coupon_description.best_value}}</p>
    {% endif %}

    {% if widget.coupon_barcode_url != '' %}
      <img src="{{widget.coupon_barcode_url.best_value | url_encode}}" alt="{{widget.coupon_number.best_value}}" />
    {% endif %}

    {% if widget.coupon_number != '' %}
      <p class="coupon-code"><strong>Offer #: {{ widget.coupon_number.best_value }}</strong></p>
    {% endif %}

    <div class="coupon-actions">
      <button id="coupon-print" class="coupon-print btn">Print</button>
      <button id="show-coupon-form" class="coupon-email btn">Send Me the Coupon</button>
      <button id="show-location-info" class="coupon-map btn">Map &amp; Directions</button>
    </div> <!-- end .coupon-actions -->

  </div> <!-- end .coupon-info -->


  <div id="coupon-form" class="coupon-drawer">
    <form action="{{widget.coupon_email_url.best_value | url_encode}}" class="form">
      <div class="form-field">
        <label for="coupon-email">Email or Cell #</label>
        <input type="text" id="coupon-email" />
        <input type="submit" class="btn" value="Send" />
      </div>
    </form>
  </div>

  <div id="location-info" class="coupon-drawer">
    <div class="coupon-address">
      <p class="p-name"><strong>{{ widget.location_name.best_value }}</strong></p>
      <p class="p-adr h-adr">
        <span class="p-street-address">{{ widget.location_street_address.best_value }}</span>
        <span class="p-locality">{{ widget.location_city.best_value }}</span>, <span class="p-region">{{ widget.location_city.best_value }}</span> <span class="p-postal-code">{{ widget.location_postal_code.best_value }}</span>
        <span class="p-tel">{{ widget.location_tel.best_value }}</span>
      </p>
    </div> <!-- end .coupon-address -->

    {% if widget.location_directions.best_value != '' %}
      <div class="coupon-directions">
        {{ widget.location_directions.best_value }}
      </div>
    {% endif %}

    <div class="coupon-map">
      <div id="map-canvas">
        <img src="http://maps.googleapis.com/maps/api/staticmap?markers={{ widget.location_street_address.best_value | HtmlEncode}},{{ widget.location_city.best_value | HtmlEncode}},{{ widget.location_state.best_value | HtmlEncode}},{{ widget.location_postal_code.best_value | HtmlEncode}}&zoom=15&size=400x400&scale=2&sensor=false" />
      </div>
    </div> <!-- end .coupon-map -->

  </div> <!-- end .coupon-drawer -->
</div>