.coupon:before,
.coupon:after {
  content: " ";
  display: table;
}
.coupon:after {
  clear: both;
}
.coupon .p-name {
  margin-bottom: 0;
}
.coupon .p-adr {
  margin-top: 0;
}
.coupon .p-street-address,
.coupon .p-tel {
  display: block;
}

.coupon-offer {
  margin-bottom: .5em;
}

.coupon-logo {
  display: block;
  max-width: 60%;
  margin: 1em auto 2em;
}

.coupon-address,
.coupon-code {
}

.coupon-code {
}

.coupon-print {
  margin-bottom: 2%;
  width: 100%;
}

.coupon-email,
.coupon-text {
  float: left;
  width: 49%;
}

.coupon-email {
  margin-right: 2%;
}

@media (min-width: 39.0625em) and (max-width: 56.8125em) {
  .coupon-info,
  .coupon-map {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 50%;
  }

  .coupon-info {
    padding-right: 2%;
  }

}
