<form>
  <div class="form-field">
    {{ widget.tracking_code.id_hidden_field }}
    <label for="{{ widget.tracking_code.value_field_id }}" >
      Tracking Code
    </label>
    <input type="text"
      id="{{ widget.tracking_code.value_field_id }}"
      name="{{ widget.tracking_code.value_field_name }}"
      value="{{ widget.tracking_code.value }}"
      placeholder="UA-XXXXXXXX"
      required
    />
  </div>

  <div class="form-field">
    {{ widget.domain_name.id_hidden_field }}
    <label for="{{ widget.domain_name.value_field_id }}" >
      Domain Name
    </label>
    <input type="text"
      id="{{ widget.domain_name.value_field_id }}"
      name="{{ widget.domain_name.value_field_name }}"
      value="{{ widget.domain_name.value | url_encode }}"
      placeholder="example.com"
      required
    />
  </div>

  <input type="submit" value="Save" />
</form>
