<div class="widget social-links">
  <div class="edit-social-links-widget edit-widget-lightbox edit-widget">
    <form>

      <div class="form-field">
        <input id="edit-twitter" class="twitter-field" type="text" placeholder="Twitter" />
      </div>

      <div class="form-field">
        <input id="edit-tumblr" class="tumblr-field" type="text" placeholder="Tumblr" />
      </div>

      <div class="form-field">
        <input id="edit-facebook" class="facebook-field" type="text" placeholder="Facebook" />
      </div>

      <div class="form-field">
        <input id="edit-instagram" class="instagram-field" type="text" placeholder="Instagram" />
      </div>

      <div class="form-field">
        <input id="pinterest-twitter" class="pinterest-field" type="text" placeholder="Pinterest" />
      </div>

      <div class="form-field">
        <input id="edit-foursquare" class="foursquare-field" type="text" placeholder="Foursquare" />
      </div>

      <div class="form-field">
        <input id="edit-yelp" class="yelp-field" type="text" placeholder="Yelp" />
      </div>

      <div class="form-field">
        <input id="edit-vimeo" class="vimeo-field" type="text" placeholder="Vimeo" />
      </div>

      <div class="form-field">
        <input id="edit-youtube" class="youtube-field" type="text" placeholder="Youtube" />
      </div>

      <div class="edit-buttons">
        <button class="edit-cancel">Cancel</button>
        <button class="edit-btn">Save</button>
      </div>
    </form>
  </div>
</div>