<div class="edit-social-links-widget edit-widget-lightbox edit-widget">
  <form>

    <div class="form-field">
      <input id="edit-twitter" class="twitter-field" placeholder="Twitter" />
    </div>

    <div class="form-field">
      <input id="edit-facebook" class="facebook-field" placeholder="Facebook" />
    </div>

    <div class="form-field">
      <input id="edit-yelp" class="yelp-field" placeholder="Yelp" />
    </div>

    <div class="form-field">
      <input id="edit-foursquare" class="foursquare-field" placeholder="Foursquare" />
    </div>

    <div class="form-field">
      <input id="pinterest-twitter" class="pinterest-field" placeholder="Pinterest" />
    </div>

    <div class="form-field">
      <input id="edit-tumblr" class="tumblr-field" placeholder="Tumblr" />
    </div>

    <div class="form-field">
      <input id="edit-instagram" class="instagram-field" placeholder="Instagram" />
    </div>

    <div class="form-field">
      <input id="edit-vimeo" class="vimeo-field" placeholder="Vimeo" />
    </div>

    <div class="form-field">
      <input id="edit-youtube" class="youtube-field" placeholder="Youtube" />
    </div>

    <div class="edit-buttons">
      <a class="cancel" href="#">Cancel</a>
      <a class="btn" href="#">Save</a>
    </div>
  </form>
</div>