{% if widget.video_id.value != "" %}
  {% if widget.video_title.value != "" %}
    <h2>{{ widget.video_title.value }}</h2>
  {% endif %}

  <div class="fluid-video">
    <iframe src="{{ widget.source.value }}{{ widget.video_id.value }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
{% endif %}

<!-- <div class="fluid-video">
  <iframe src="//player.vimeo.com/video/77724814" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div> -->

<!-- <div class="fluid-video">
  <iframe src="//www.youtube.com/embed/ie_Acz7PZDE" frameborder="0" allowfullscreen></iframe>
</div> -->