<div class="video widget h-media" itemscope itemtype="http://schema.org/VideoObject">

  {% if widget.video_title.best_value != empty %}
    <p class="p-name" itemprop="name">{{ widget.video_title.best_value }}</p>
  {% endif %}

  <video
    {% if widget.video_width.best_value != empty %}width="{{ widget.video_width.best_value }}"{% endif %}
    {% if widget.video_height.best_value != empty %}height="{{ widget.video_height.best_value }}"{% endif %}
    controls
    class="e-player"
    itemprop="video">

    <source src="{{ widget.video_url.best_value | url_encode }}" type="video/{{ widget.video_type.best_value }}"/>
    Video tag not supported. Download the video <a href="{{ widget.video_url.best_value | url_encode }}">here</a>
  </video>

</div>
