<div class="video widget h-media" itemscope itemtype="http://schema.org/VideoObject">

  {% if widget.video_title.value != "" %}
    <p class="p-name" itemprop="name">{{ widget.video_title.value }}</p>
  {% endif %}

  <video
    {% if widget.video_width.value != "" %}width="{{ widget.video_width.value }}"{% endif %}
    {% if widget.video_height.value != "" %}height="{{ widget.video_height.value }}"{% endif %}
    controls
    class="e-player"
    itemprop="video">

    <source src="{{ widget.video_url.value | url_encode }}" type="video/{{ widget.video_type.value }}"/>
    Video tag not supported. Download the video <a href="{{ widget.video_url.value | url_encode }}">here</a>
  </video>

</div>
