<div class="phone widget">
  <script class="config" type="application/json">
    {
      "cpnsUrl": "{{ widget.secure_cpns_url }}",
      "locationUrn": "{{ widget.location_urn.best_value }}"
    }
  </script>

  {% if widget.display_phone.best_value == "true" %}
  <a href="tel://{{ widget.phone_number.best_value }}" class="number h-card vcard" itemscope itemtype="http://schema.org/LocalBusiness">
    <span class="p-tel tel" itemprop="telephone">{{ widget.phone_number.best_value }}</span>
  </a>
  {% endif %}
</div>
