<form>
  <div class="form-field">
    <label for="{{ widget.contact_submission_url.value_field_id }}" >
      Submission URL
    </label>
    {{ widget.contact_submission_url.id_hidden_field }}
    <input type="text"
      id="{{ widget.contact_submission_url.value_field_id }}"
      name="{{ widget.contact_submission_url.value_field_name }}"
      value="{{ widget.contact_submission_url.best_value | url_encode }}"
    />
  </div>
  <fieldset>
    <legend>Choose fields to include in form</legend>

    <div class="form-field check-field">
      {{ widget.contact_display_name.id_hidden_field }}
      <input type="hidden"
        id="{{ widget.contact_display_name.value_field_id }}_false"
        name="{{ widget.contact_display_name.value_field_name }}"
        value="false"
      />
      <input type="checkbox"
        id="{{ widget.contact_display_name.value_field_id }}"
        name="{{ widget.contact_display_name.value_field_name }}"
        value="true"
        {% if widget.contact_display_name.best_value == "true" %}
        checked="checked"
        {% endif %}
      />
      <label for="{{ widget.contact_display_name.value_field_id }}" >
        Name
      </label>
    </div>

    <div class="form-field check-field">
      {{ widget.contact_display_email.id_hidden_field }}
      <input type="hidden"
        id="{{ widget.contact_display_email.value_field_id }}_false"
        name="{{ widget.contact_display_email.value_field_name }}"
        value="false"
      />
      <input type="checkbox"
        id="{{ widget.contact_display_email.value_field_id }}"
        name="{{ widget.contact_display_email.value_field_name }}"
        value="true"
        {% if widget.contact_display_email.best_value == "true" %}
        checked="checked"
        {% endif %}
      />
      <label for="{{ widget.contact_display_email.value_field_id }}" >
        Email
      </label>
    </div>

    <div class="form-field check-field">
      {{ widget.contact_display_phone.id_hidden_field }}
      <input type="hidden"
        id="{{ widget.contact_display_phone.value_field_id }}_false"
        name="{{ widget.contact_display_phone.value_field_name }}"
        value="false"
      />
      <input type="checkbox"
        id="{{ widget.contact_display_phone.value_field_id }}"
        name="{{ widget.contact_display_phone.value_field_name }}"
        value="true"
        {% if widget.contact_display_phone.best_value == "true" %}
        checked="checked"
        {% endif %}
      />
      <label for="{{ widget.contact_display_phone.value_field_id }}" >
        Phone Number
      </label>
    </div>

    <div class="form-field check-field">
      {{ widget.contact_display_address.id_hidden_field }}
      <input type="hidden"
        id="{{ widget.contact_display_address.value_field_id }}_false"
        name="{{ widget.contact_display_address.value_field_name }}"
        value="false"
      />
      <input type="checkbox"
        id="{{ widget.contact_display_address.value_field_id }}"
        name="{{ widget.contact_display_address.value_field_name }}"
        value="true"
        {% if widget.contact_display_address.best_value == "true" %}
        checked="checked"
        {% endif %}
      />
      <label for="{{ widget.contact_display_address.value_field_id }}" >
        Address
      </label>
    </div>
    <div class="form-field check-field">
      {{ widget.contact_display_message.id_hidden_field }}
      <input type="hidden"
        id="{{ widget.contact_display_message.value_field_id }}_false"
        name="{{ widget.contact_display_message.value_field_name }}"
        value="false"
      />
      <input type="checkbox"
        id="{{ widget.contact_display_message.value_field_id }}"
        name="{{ widget.contact_display_message.value_field_name }}"
        value="true"
        {% if widget.contact_display_message.best_value == "true" %}
        checked="checked"
        {% endif %}
      />
      <label for="{{ widget.contact_display_message.value_field_id }}" >
        Message
      </label>
    </div>

  </fieldset>
  <input type="submit" value="Save" class="btn" />
</form>
