<form>
  <fieldset>
    <legend>Choose which links you would like to display</legend>
    <div>
      <ul>
        {% for web_page in widget.navigation.best_value %}
        <li>
          <input type="hidden"
            id="{{ widget.navigation.value_field_id }}_{{ forloop.index0 }}_display"
            name="{{ widget.navigation.value_field_name }}[{{ forloop.index0 }}][display]"
            value="false"
            checked="checked"
          />
          <label for="{{ widget.navigation.value_field_id }}_{{ forloop.index0 }}_display">
            <input type="checkbox"
              id="{{ widget.navigation.value_field_id }}_{{ forloop.index0 }}_display"
              name="{{ widget.navigation.value_field_name }}[{{ forloop.index0 }}][display]"
              value="true"
              {% if web_page.display != "false" %}
              checked="checked"
              {% endif %}
            />
            {{ web_page.title }}
          </label>
          {{ widget.navigation.id_hidden_field }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </fieldset>
  <input type="submit" value="Save" />
</form>
