<div class="social-feed widget">
  <script id="social-feed-config" type="application/json">
    {
      "twitter_username": "{{ widget.twitter_username.best_value }}",
      "tweet_count": {{ widget.twitter_tweet_count.best_value }},
      "display_avatar": {{widget.twitter_display_avatars.best_value}},
      "feed_url": "{{ widget.blog_feed_url.best_value | url_encode }}",
      "show_entry_summary": {{ widget.blog_feed_display_summary.best_value }},
      "entries_to_show": {{ widget.blog_feed_number_to_display.best_value }}
    }
  </script>

  
  <div class="feed-switcher">
    <a class="feed-switch active" id="feed-switch-twitter" href="#twitter-feed" title="Show Tweets">Show Twitter Feed</a>
  </div>


  
  <div id="twitter-feed" class="twitter-feed feed-section">
    <ul class="tweet-list">
    </ul>
    <a class="btn" href="http://www.twitter.com/{{ widget.twitter_username.best_value }}" href="#" target="_blank">Read All</a>
  </div>
  

</div>
