<div class="social-feed widget">
  <script id="blog-config" type="application/json">
    {
      "feedUrl": "{{ widget.blog_feed_url.best_value | url_encode }}",
      "showEntrySummary":
        {% if widget.blog_feed_display_summary.best_value == "true" %}
        true
        {% else %}
        false
        {% endif %},
      "showDate":
        {% if widget.blog_feed_display_published_at.best_value == "true" %}
        true
        {% else %}
        false
        {% endif %},
      "entriesToShow":
        {% if widget.blog_feed_number_to_display.best_value %}
        {{ widget.blog_feed_number_to_display.best_value }}
        {% else %}
        3
        {% endif %}
    }
  </script>

  <script id="twitter-config" type="application/json">
    {
      "id": "{{ widget.twitter_username.best_value }}",
      "count": {{ widget.twitter_tweet_count.best_value }},
      "avatar": {{widget.twitter_display_avatars.best_value}}
    }
  </script>

  {% if widget.blog_feed_url.best_value != '' and  widget.twitter_username.best_value != '' %}
  <a class="feed-switch" href="#blog-feed">Show Blog Feed</a>
  <a class="feed-switch" href="#twitter-feed">Show Twitter Feed</a>
  {% endif %}

  {% if widget.blog_feed_url.best_value != '' %}
  <div id="blog-feed" class="blog-feed feed">
    <ul class="h-feed feed"></ul>
  </div>
  {% endif %}

  {% if widget.twitter_username.best_value != '' %}
  <div id="twitter-feed" class="twitter-feed feed">
    <ul class="tweet-list">
    </ul>
    <a class="follow" href="http://www.twitter.com/{{ widget.twitter_username.best_value }}" href="#" target="_blank">Follow @{{ widget.twitter_username.best_value }} on Twitter</a>
  </div>
  {%% endif %}
</div>
