<form>
  <div class="field">
    {{ widget.blog_feed_url.id_hidden_field }}
    <label for="{{ widget.blog_feed_url.value_field_id }}">
      Enter the RSS/ATOM Feed URL
    </label>
    <input type="text"
      placeholder="http://someurl.com/feed.rss"
      id="{{ widget.blog_feed_url.value_field_id }}"
      name="{{ widget.blog_feed_url.value_field_name }}"
      value="{{ widget.blog_feed_url.value | url_encode }}"
    />
  </div>

  <div class="field check-field">
    {{ widget.blog_feed_display_summary.id_hidden_field }}
    <label for="{{ widget.blog_feed_display_summary.value_field_id }}_true">
      Show Summary
    </label>
    <input type="hidden"
      id="{{ widget.blog_feed_display_summary.value_field_id }}_false"
      name="{{ widget.blog_feed_display_summary.value_field_name }}"
      value="false"
    />
    <input type="checkbox"
      id="{{ widget.blog_feed_display_summary.value_field_id }}_true"
      name="{{ widget.blog_feed_display_summary.value_field_name }}"
      value="true"
      {% if widget.blog_feed_display_summary.value == "true" %}
      checked="checked"
      {% endif %}
    />
  </end>

  <div class="field check-field">
    {{ widget.blog_feed_display_published_at.id_hidden_field }}
    <label for="{{ widget.blog_feed_display_published_at.value_field_id }}_true">
      Show Published At
    </label>
    <input type="hidden"
      id="{{ widget.blog_feed_display_published_at.value_field_id }}_false"
      name="{{ widget.blog_feed_display_published_at.value_field_name }}"
      value="false"
    />
    <input type="checkbox"
      id="{{ widget.blog_feed_display_published_at.value_field_id }}_true"
      name="{{ widget.blog_feed_display_published_at.value_field_name }}"
      value="true"
      {% if widget.blog_feed_display_published_at.value == "true" %}
      checked="checked"
      {% endif %}
    />
  </end>

  <div class="field">
    {{ widget.blog_feed_number_to_display.id_hidden_field }}
    <label for="{{ widget.blog_feed_number_to_display.value_field_id }}">
      Number of Entries to Show
    </label>
    <input type="number", min="0" max="25"
      placeholder="number_to_display of Feed"
      id="{{ widget.blog_feed_number_to_display.value_field_id }}"
      name="{{ widget.blog_feed_number_to_display.value_field_name }}"
      {% if widget.blog_feed_number_to_display.value %}
      value="{{ widget.blog_feed_number_to_display.value }}"
      {% else %}
      value="3"
      {% endif %}
    />
  </div>

  <input type="submit" value="Save" />
</form>
