<form>
  <div class="field">
    <label>Enter the RSS/ATOM Feed URL</label>
		<input type="hidden"
			name="widget[widget_attributes_attributes][{{ widget.blog_feed.feed_url.id }}][id]"
			value="{{ widget.blog_feed.feed_url.id }}">

    <input type="text"
			placeholder="http://someurl.com/feed.rss"
			name="widget[widget_attributes_attributes][{{ widget.blog_feed.feed_url.id }}][value]"
			value="{{ widget.blog_feed.feed_url.value }}" />

		<label>Enter the Feed Title</label>
		<input type="hidden"
			name="widget[widget_attributes_attributes][{{ widget.blog_feed.feed_title.id }}][id]"
			value="{{ widget.blog_feed.feed_title.id }}">

    <input type="text"
			placeholder="Title of Feed"
			name="widget[widget_attributes_attributes][{{ widget.blog_feed.feed_title.id }}][value]"
			value="{{ widget.blog_feed.feed_title.value }}" />

		<label>Show Author</label>
		<input type="hidden"
			name="widget[widget_attributes_attributes][{{ widget.blog_feed.show_author.id }}][id]"
			value="{{ widget.blog_feed.show_author.id }}">

    <input type="checkbox"
			name="widget[widget_attributes_attributes][{{ widget.blog_feed.show_author.id }}][value]"
			checked="{{ widget.blog_feed.show_author.value }}" />	

		<label>Show Entry Summary</label>
		<input type="hidden"
			name="widget[widget_attributes_attributes][{{ widget.blog_feed.show_entry_summary.id }}][id]"
			value="{{ widget.blog_feed.show_entry_summary.id }}">

    <input type="checkbox"
			name="widget[widget_attributes_attributes][{{ widget.blog_feed.show_entry_summary.id }}][value]"
			checked="{{ widget.blog_feed.show_entry_summary.value }}" />	

		<label>Number of Entries to Show</label>
		<input type="hidden"
			name="widget[widget_attributes_attributes][{{ widget.blog_feed.entries_to_show.id }}][id]"
			value="{{ widget.blog_feed.entries_to_show.id }}">

    <input type="number", min="0" max="25"
			name="widget[widget_attributes_attributes][{{ widget.entries_to_show.id }}][value]"
			value="{{ widget.blog_feed.entries_to_show.value }}" />		

  </div>
  <input type="submit" value="Save" />
</form>
