<script id="blog-feed-config" type="application/json">
  {
    "feedUrl": "{{ widget.blog_feed_url.value | url_encode }}",
    "showAuthor":
      {% if widget.blog_feed_display_author.value == "true" %}
      true
      {% else %}
      false
      {% endif %},
    "showEntrySummary":
      {% if widget.blog_feed_display_summary.value == "true" %}
      true
      {% else %}
      false
      {% endif %},
    "showDate":
      {% if widget.blog_feed_display_published_at.value == "true" %}
      true
      {% else %}
      false
      {% endif %},
    "entriesToShow":
      {% if widget.blog_feed_number_to_display.value %}
      {{ widget.blog_feed_number_to_display.value }}
      {% else %}
      3
      {% endif %}
    }
</script>

<div class="blog-feed widget" id="blog-feed-container">
  <ul></ul>
</div>
