<div class="blog-feed widget">

  <p class="heading">Blog Heading</p>

  <ul>
    <li>
      <a href="#">
        <span>Blog Article Title</span>
        <em>Friday 10/16</em>
      </a>
    </li>
    <li>
      <a href="#">
        <span>Blog Article Title</span>
        <em>Friday 10/16</em>
      </a>
    </li>
    <li>
      <a href="#">
        <span>Blog Article Title</span>
        <em>Friday 10/16</em>
      </a>
    </li>
    <li>
      <a href="#">
        <span>Blog Article Title</span>
        <em>Friday 10/16</em>
      </a>
    </li>
  </ul>

</div>