.directions .clearfix:before, .directions .clearfix:after {
  content: " ";
  display: table;
}

.directions .clearfix:after {
  clear: both;
}

.directions .directions-error {
  display: none;
  background:#FBE3E4;
  color:#8a1f11;
  border:1px solid #ff0000;
  padding: .5em;
}

.directions .directions-error.show {
  display: block;
}

.directions .canvas {
  width:100%;
  height:500px;
  margin-bottom: 1em;
}

/*google map bootstrap fix*/
.directions .canvas img,
.directions .panel img {
  max-width:none;
}
.directions .canvas label {
  width:auto;
  display:inline;
}

.directions .text label {
  display: block;
}

.directions .panel {
  margin-top: 1em;
}

.adp-marker {
  margin: 5px;
}

@media (min-width: 980px) {
  .directions .canvas {
    width: 50%;
    margin-right: 2.5%;
    float: left;
  }
  .directions .text {
    width: 47.5%;
    float: left;
  }
  .directions .text input[type=submit] {
    margin-left: 5px;
  }
}
