<form>
  <div class="form-field">
    {{ widget.store_urn.id_hidden_field }}
    <label for="{{ widget.store_urn.value_field_id }}">
      Store URN
    </label>
    <input type="text"
      placeholder="1234"
      id="{{ widget.store_urn.value_field_id }}"
      name="{{ widget.store_urn.value_field_name }}"
      value="{{ widget.store_urn.best_value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.service_host.id_hidden_field }}
    <label for="{{ widget.service_host.value_field_id }}">
      Inventory Service Host
    </label>
    <input type="text"
      placeholder="http://www.mydomain.com"
      id="{{ widget.service_host.value_field_id }}"
      name="{{ widget.service_host.value_field_name }}"
      value="{{ widget.service_host.best_value }}"
    />
  <div class="form-field">
    {{ widget.move_in_cost_service_host.id_hidden_field }}
    <label for="{{ widget.move_in_cost_service_host.value_field_id }}">
     Move In Cost Service Host
    </label>
    <input type="text"
      placeholder="http://www.mydomain.com"
      id="{{ widget.move_in_cost_service_host.value_field_id }}"
      name="{{ widget.move_in_cost_service_host.value_field_name }}"
      value="{{ widget.move_in_cost_service_host.best_value }}"
    />  
  </div>
  <div class="form-field">
    {{ widget.unit_size_help_url.id_hidden_field }}
    <label for="{{ widget.unit_size_help_url.value_field_id }}">
      Unit Size Help URL
    </label>
    <input type="text"
      placeholder="http://www.mydomain.com/unit_size_help.html"
      id="{{ widget.unit_size_help_url.value_field_id }}"
      name="{{ widget.unit_size_help_url.value_field_name }}"
      value="{{ widget.unit_size_help_url.best_value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.unit_size_help_label.id_hidden_field }}
    <label for="{{ widget.unit_size_help_label.value_field_id }}">
      Unit Size Help Label
    </label>
    <input type="text"
      placeholder=""
      id="{{ widget.unit_size_help_label.value_field_id }}"
      name="{{ widget.unit_size_help_label.value_field_name }}"
      value="{{ widget.unit_size_help_label.best_value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.disclaimer_text.id_hidden_field }}
    <label for="{{ widget.disclaimer_text.value_field_id }}">
      Disclaimer Text
    </label>
    <input type="text"
      placeholder=""
      id="{{ widget.disclaimer_text.value_field_id }}"
      name="{{ widget.disclaimer_text.value_field_name }}"
      value="{{ widget.disclaimer_text.value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.map_page_path.id_hidden_field }}
    <label for="{{ widget.map_page_path.value_field_id }}">
      Map Page
    </label>
    <select id="{{ widget.map_page_path.value_field_id }}" name="{{ widget.map_page_path.value_field_name }}">
      {% for web_page in widget.navigation.value %}
        <option value="{{ web_page[1].url | url_encode }}"
          {% if widget.map_page_path.value == web_page[1].url %}
            selected
          {% endif %} >{{ web_page[1].name }}</option>
      {% endfor %}
    </select>
  </div>
  <input type="submit" value="Save" class="btn" />
</form>
