<div class="self-storage-iui-cards widget">
  <script>
    var EmberAppConfig = {
      "modulePrefix":"sitelink-elease-iui-cards",
      "environment":"production",
      "baseURL":"/",
      "locationType":"auto",
      "EmberENV":{"FEATURES":{}},
      "APP":{
        "rootElement":"#iui-container",
        "serviceHost":"{{ widget.service_host.best_value | url_encode }}",
        "storeId":"{{ widget.store_urn.best_value }}",
        "nearbyLocationsButtonLabel":"{{ widget.nearby_locations_button_label.best_value }}",
        "unitSizeHelpUrl": "{{ widget.unit_size_help_url.best_value | url_encode }}",
        "unitSizeHelpLabel":"{{ widget.unit_size_help_label.best_value }}",
        "moveInCostServiceHost":"{{ widget.move_in_cost_service_host.best_value | url_encode }}",
        "disclaimerText":"{{ widget.disclaimer_text.value }}",
        "locationMapUrl":"{{ widget.map_page_path.value }}",
        "finalInstructions": ["{{ widget.final_instructions_1.value }}",
                              "{{ widget.final_instructions_2.value }}",
                              "{{ widget.final_instructions_3.value }}"]
      },
      "exportApplicationGlobal":false
    }

    var ssMetaConfig = document.createElement('meta');
      ssMetaConfig.id="ember-meta";
      ssMetaConfig.name = "sitelink-elease-iui-cards/config/environment";
      ssMetaConfig.content = JSON.stringify(EmberAppConfig);
      document.getElementsByTagName('head')[0].appendChild(ssMetaConfig);
  </script>

  <div id="iui-container">
    <div id="app-loading" class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</div>
