<script id="tits" class="contact-info-sheet-config config" type="application/json">
  {
    "clientUrn": "{{ widget.client_urn.best_value }}",
    "locationUrn": "{{ widget.location_urn.best_value }}"
  }
</script>

<div class="contact-info-sheet widget g5-enhanced-form">
  <div class="info-sheet-nav">
    <!-- use phone service for this number -->
    <a class="info-sheet-phone-btn info-sheet-toggle" href="tel://{{ widget.phone_number.best_value }}">{{ widget.phone_number.best_value }}</a>
    <a class="info-sheet-email-btn info-sheet-toggle" href="{{ widget.contact_url.best_value | url_encode }}">Email</a>
    <div class="info-sheet-page-up info-sheet-pagination">UP</div>
    <div class="info-sheet-page-down info-sheet-pagination">DOWN</div>
  </div> <!-- end .info-sheet-nav -->

  <div class="info-sheet-content">
    <div class="info-sheet-phone">{{ widget.phone_number.best_value }}</div> <!-- end .info-sheet-phone -->
    <div class="info-sheet-email">

      <div class="">

        {% if widget.form_title.best_value != "" %}
          <h3 class="form-heading">{{ widget.form_title.best_value}}</h3>
        {% endif %}

        <form id="form-template" class="form h-entry" action="{{ widget.cls_url.best_value | url_encode }}html_forms" method="POST">
          {% if widget.form_note.best_value != "" %}
            <p class="form-note">{{ widget.form_note.best_value }}</p>
          {% endif %}

          <input type="hidden" class="u-uid" name="u-uid" value="{{ widget.form_uid.best_value | url_encode }}" />
          <input type="hidden" class="u-syndication" name="u-syndication" value="{{ widget.form_syndication_url.best_value | url_encode }}" />

          <div class="p-author h-card">
            <div class="form-field">
              <label for="p-name" class="required">Full Name</label>
              <input type="text" id="p-name" class="p-name" name="p-name" placeholder="Full Name *" required />
            </div>

            <div class="form-field">
              <label for="u-email" class="required">Email</label>
              <input type="email" id="u-email" class="u-email" name="u-email" placeholder="Email *" required />
            </div>

            <div class="form-field">
              <label for="p-tel">Phone Number</label>
              <input type="tel" id="p-tel" class="p-tel" name="p-tel" placeholder="Phone" />
            </div>

          </div>

          <div class="form-field">
            <label for="e-content">Message</label>
            <textarea id="e-content" class="e-content" name="e-content" placeholder="Message"></textarea>
          </div>

          <!-- for bots only. inline js/css necessary to make sure this is always hidden -->
          <input id="lead_comments" name="lead_comments" onfocus="this.blur();" style="margin-left: -9999px; float: left;" type="text" value="" />

          <input type="submit" value="Submit" />
          <span class="form-instruction">* Required Field</span>
        </form>

        <div class="submitting" style="display: none">Your submission is being sent...</div>
        <div class="error" style="display: none">We're sorry, but something went wrong.</div>
        <div class="success" style="display: none">Thank you! Your information was successfully sent.</div>

      </div> <!-- end form -->
    </div> <!-- end .info-sheet-email -->
  </div> <!-- end .info-sheet-content -->
</div> <!-- end .contact-info-sheet -->
