<div class="contact-info-sheet widget">

  <script class="config" type="application/json">
    {
      "clientUrn": "{{ widget.client_urn.best_value }}",
      "locationUrn": "{{ widget.location_urn.best_value }}"
    }
  </script>

  <div class="info-sheet-nav">
    <!-- use phone service for this number -->
    <a class="info-sheet-phone-btn info-sheet-toggle" href="tel://{{ widget.phone_number.best_value }}">{{ widget.phone_number.best_value }}</a>
    <a class="info-sheet-email-btn info-sheet-toggle" href="{{ widget.contact_url.best_value | url_encode }}">Email</a>
    <div class="info-sheet-page-up info-sheet-pagination">UP</div>
    <div class="info-sheet-page-down info-sheet-pagination">DOWN</div>
  </div> <!-- end .info-sheet-nav -->

  <div class="info-sheet-content">
    <div class="info-sheet-phone">{{ widget.phone_number.best_value }}</div> <!-- end .info-sheet-phone -->
    <div class="info-sheet-email">

      <div class="g5-enhanced-form">
        <script class="config" type="application/json">
          {
            {% if widget.success_redirect_url.best_value != '' %}
              "successRedirectUrl": "{{ widget.success_redirect_url.best_value}}",
            {% endif %}
            "formUrl": "{{ widget.secure_cls_url }}api/v1/locations/{{ widget.location_urn.best_value }}/html_forms/contact"
          }
        </script>

        <noscript>
          You have either disabled Javascript or are using an older, unsupported browser. Please <a href="{{ widget.secure_cls_url }}api/v1/locations/{{ widget.location_urn.best_value }}/html_forms/{{ widget.form_type.best_value }}.html">visit this link</a> to contact us.
        </noscript>
      </div> <!-- end form -->
    </div> <!-- end .info-sheet-email -->
  </div> <!-- end .info-sheet-content -->
</div> <!-- end .contact-info-sheet -->
