<form>
  <fieldset>

    <div class="form-field">
      {{ widget.client_urn.id_hidden_field }}
      <label for="{{ widget.client_urn.value_field_id }}">
        Client URN
      </label>
      <input type="text"
        placeholder="g5-sh-4neb3ck3r-isatool"
        id="{{ widget.client_urn.value_field_id }}"
        name="{{ widget.client_urn.value_field_name }}"
        value="{{ widget.client_urn.value }}"
      />
    </div>

    <div class="form-field">
      {{ widget.search_results_page.id_hidden_field }}
      <label for="{{ widget.search_results_page.value_field_id }}">
        Search Results Page Path
      </label>
      <input type="text"
        placeholder="Results render inline if blank"
        id="{{ widget.search_results_page.value_field_id }}"
        name="{{ widget.search_results_page.value_field_name }}"
        value="{{ widget.search_results_page.value }}"
      />
    </div>

    <div class="form-field">
      {{ widget.service_url.id_hidden_field }}
      <label for="{{ widget.service_url.value_field_id }}">
        Search Service Domain
      </label>
      <input type="text"
        placeholder="Defaults to //g5-hub.herokuapp.com if blank"
        id="{{ widget.service_url.value_field_id }}"
        name="{{ widget.service_url.value_field_name }}"
        value="{{ widget.service_url.value }}"
      />
    </div>

    <div class="form-field">
      {{ widget.phone_service_url.id_hidden_field }}
      <label for="{{ widget.phone_service_url.value_field_id }}">
        Phone Service Domain
      </label>
      <input type="text"
        placeholder="Populate to display call tracking numbers"
        id="{{ widget.phone_service_url.value_field_id }}"
        name="{{ widget.phone_service_url.value_field_name }}"
        value="{{ widget.phone_service_url.value }}"
      />
    </div>

    <div class="form-field">
      {{ widget.search_radius.id_hidden_field }}
      <label for="{{ widget.search_radius.value_field_id }}">
        Search Radius
      </label>
      <input type="text"
        placeholder="Defaults to 20 if blank"
        id="{{ widget.search_radius.value_field_id }}"
        name="{{ widget.search_radius.value_field_name }}"
        value="{{ widget.search_radius.value }}"
      />
    </div>

    <div class="form-field">
      {{ widget.primary_color.id_hidden_field }}
      <label for="{{ widget.primary_color.value_field_id }}">
        Primary Color
      </label>
      <input type="text"
        placeholder="Form Background"
        id="{{ widget.primary_color.value_field_id }}"
        name="{{ widget.primary_color.value_field_name }}"
        value="{{ widget.primary_color.value }}"
      />
    </div>

    <div class="form-field">
      {{ widget.secondary_color.id_hidden_field }}
      <label for="{{ widget.secondary_color.value_field_id }}">
        Secondary Color
      </label>
      <input type="text"
        placeholder="Results background and button text color"
        id="{{ widget.secondary_color.value_field_id }}"
        name="{{ widget.secondary_color.value_field_name }}"
        value="{{ widget.secondary_color.value }}"
      />
    </div>

    <div class="form-field">
      {{ widget.accent_color.id_hidden_field }}
      <label for="{{ widget.accent_color.value_field_id }}">
        Accent Color
      </label>
      <input type="text"
        placeholder="Go button color"
        id="{{ widget.accent_color.value_field_id }}"
        name="{{ widget.accent_color.value_field_name }}"
        value="{{ widget.accent_color.value }}"
      />
    </div>

  </fieldset>
  <input type="submit" value="Save" class="btn" />
</form>
