<script id="zip-search-config" type="application/json">
  {
    "clientURN": "{{ widget.client_urn.value }}",
    "searchResultsPage": "{{ widget.search_results_page.value }}",
    "serviceURL": "{{ widget.service_url.value }}",
    "searcyhRadius": "{{ widget.search_radius.value }}"
  }
</script>

<div class="city-state-zip-search widget">

  <p>"clientURN": "{{ widget.client_urn.value }}"</p>
  <p>"searchResultsPage": "{{ widget.search_results_page.value }}",</p>
  <p>"serviceURL": "{{ widget.service_url.value }}",</p>
  <p>"searcyhRadius": "{{ widget.search_radius.value }}",</p>
  
</div>
