<script id="zip-search-config" type="application/json">
  {
    "clientURN": "{{ widget.client_urn.value }}",
    "searchResultsPage": "{{ widget.search_results_page.value }}",
    "serviceURL": "{{ widget.service_url.value }}",
    "searchRadius": "{{ widget.search_radius.value }}",
    "phoneServiceURL":"{{ widget.phone_service_url.value }}"
  }
</script>

<style>
  {% if widget.primary_color.value != blank %}
    .city-state-zip-search .zip-search-top,
    .city-state-zip-search .zip-search-location-link,
    .city-state-zip-search .view-all-link{ background-color:{{ widget.primary_color.value }}; }
  {% endif %}

  {% if widget.secondary_color.value != blank %}
    .city-state-zip-search .zip-search-button{ background:{{ widget.secondary_color.value }}; }
  {% endif %}

  {% if widget.accent_color.value != blank %}
    .city-state-zip-search .zip-search-heading,
    .city-state-zip-search .zip-search-button button,
    .city-state-zip-search .zip-search-location-link,
    .city-state-zip-search .view-all-link{ color:{{ widget.accent_color.value }}; }
    .city-state-zip-search .zip-search-location{background:{{ widget.accent_color.value }};}
  {% endif %}
</style>

<div id="city-state-zip-search" class="city-state-zip-search widget">
  <div class="zip-search-top">
    <div class="zip-search-heading">Find A Location</div>
    <form class="zip-search-form">
      <span class="zip-search-input">
        <input type="text" name="search" placeholder="City, ST or Zip">
      </span>
      <span class="zip-search-button">
        <button class="zip-search-button search">GO</button>
      </span>
    </form>
  </div>

  <div class="zip-search-results"></div>
  
</div>
