<script id="zip-search-config" type="application/json">
  {
    "clientURN": "{{ widget.client_urn.value }}",
    "searchResultsPage": "{{ widget.search_results_page.value }}",
    "serviceURL": "{{ widget.service_url.value }}",
    "searchRadius": "{{ widget.search_radius.value }}"
  }
</script>

<div id="city-state-zip-search" class="city-state-zip-search widget">
  <div class="zip-search-top">
    <div class="zip-search-heading">Find A Location</div>
    <form class="zip-search-form">
      <span class="zip-search-input">
        <input type="text" name="search" placeholder="City, ST or Zip">
      </span>
      <span class="zip-search-button">
        <button class="zip-search-button search">GO</button>
      </span>
    </form>
  </div>

  <div class="zip-search-results"></div>
  
</div>
