<div class="form-template widget">

  {% if widget.form_title.best_value != empty %}
    <h2 class="form-heading">{{ widget.form_title.best_value}}</h2>
  {% endif %}

  {% if widget.form_note.best_value != empty %}
    <p class="form-note">{{ widget.form_note.best_value }}</p>
  {% endif %}

  <form id="form-template" class="form h-entry" action="{{ widget.form_url.best_value | url_encode }}" method="POST">
    <input type="hidden" class="u-syndication" name="u-syndication" value="{{ widget.form_syndication.best_value | url_encode }}" />

    <div class="h-card">
      <div class="form-field">
        <label for="p-g5-friend-name">Friend's Name</label>
        <input type="text" id="p-g5-friend-name" class="p-name" name="p-g5-friend-name" required>
      </div>

      <div class="form-field">
        <label for="u-g5-friend-email">Friend's Email</label>
        <input type="email" id="u-g5-friend-email" class="u-email" name="u-g5-friend-email" required>
      </div>
    </div>

    <div class="form-field">
      <label for="e-content">Message  <span class="form-optional">optional</span></label>
      <textarea id="e-content" class="e-content" name="e-content"></textarea>
    </div>

    <div class="p-author h-card">
      <div class="form-field">
        <label for="p-g5-me-name">Your Name</label>
        <input type="text" id="p-g5-me-name" class="p-name" name="p-name" required>
      </div>

      <div class="form-field">
        <label for="u-g5-me-email">Your Email</label>
        <input type="email" id="u-g5-me-email" class="u-email" name="u-email" required>
      </div>
    </div>

    <input type="submit" value="Send" />
  </form>

</div>
