<div class="gallery featured-properties widget">

  <script class="config" type="application/json">
    {
      "show_thumbnails": "no",
      "mini_gallery": "no",
      "carousel": "yes",

      "photos": [ { "url":"{{ widget.gallery_photo1_url.value }}",
                    "link":"{{ widget.gallery_photo1_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo1_alt_tag.value }}", 
                    "caption": "{{ widget.gallery_photo1_caption.value }}"},
                  { "url":"{{widget.gallery_photo2_url.value}}",
                    "link":"{{ widget.gallery_photo2_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo2_alt_tag.value }}", 
                    "caption": "{{ widget.gallery_photo2_caption.value }}"},
                  { "url":"{{widget.gallery_photo3_url.value}}",
                    "link":"{{ widget.gallery_photo3_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo3_alt_tag.value }}", 
                    "caption": "{{ widget.gallery_photo3_caption.value }}"},
                  { "url":"{{widget.gallery_photo4_url.value}}",
                    "link":"{{ widget.gallery_photo4_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo4_alt_tag.value }}", 
                    "caption": "{{ widget.gallery_photo4_caption.value }}"},
                  { "url":"{{widget.gallery_photo5_url.value}}",
                    "link":"{{ widget.gallery_photo5_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo5_alt_tag.value }}", 
                    "caption": "{{ widget.gallery_photo5_caption.value }}"},
                  { "url":"{{widget.gallery_photo6_url.value}}",
                    "link":"{{ widget.gallery_photo6_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo6_alt_tag.value }}", 
                    "caption": "{{ widget.gallery_photo6_caption.value }}"} ]
    }
  </script>

  {% if widget.gallery_title.value != "" %}
  <h2>{{ widget.gallery_title.value }}</h2>
  {% endif %}

  <div class="flexslider-container">
    <div class = "flexslider gallery-carousel full-gallery">
      <ul class="slides">
      </ul>
    </div>
  </div>
</div>
