<div class="gallery featured-properties widget">

  {% if widget.gallery_title.value != "" %}
  <h2>{{ widget.gallery_title.value }}</h2>
  {% endif %}

  <div class="flexslider-container">
    <div class = "flexslider gallery-carousel full-gallery">
      <ul class="slides">
      </ul>
    </div>
  </div>

  <script class="config" type="application/json">
    {
      "show_thumbnails": "no",
      "mini_gallery": "no",
      "carousel": "yes",

      "photos": [ { "url":"{{ widget.gallery_photo1_url.value }}",
                    "link":"{{ widget.gallery_photo1_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo1_alt_tag.value }}",
                    "caption": "{{ widget.gallery_photo1_caption.value }}"},
                  { "url":"{{widget.gallery_photo2_url.value}}",
                    "link":"{{ widget.gallery_photo2_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo2_alt_tag.value }}",
                    "caption": "{{ widget.gallery_photo2_caption.value }}"},
                  { "url":"{{widget.gallery_photo3_url.value}}",
                    "link":"{{ widget.gallery_photo3_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo3_alt_tag.value }}",
                    "caption": "{{ widget.gallery_photo3_caption.value }}"},
                  { "url":"{{widget.gallery_photo4_url.value}}",
                    "link":"{{ widget.gallery_photo4_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo4_alt_tag.value }}",
                    "caption": "{{ widget.gallery_photo4_caption.value }}"},
                  { "url":"{{widget.gallery_photo5_url.value}}",
                    "link":"{{ widget.gallery_photo5_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo5_alt_tag.value }}",
                    "caption": "{{ widget.gallery_photo5_caption.value }}"},
                  { "url":"{{widget.gallery_photo6_url.value}}",
                    "link":"{{ widget.gallery_photo6_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo6_alt_tag.value }}",
                    "caption": "{{ widget.gallery_photo6_caption.value }}"},
                  { "url":"{{widget.gallery_photo7_url.value}}",
                    "link":"{{ widget.gallery_photo7_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo7_alt_tag.value }}",
                    "caption": "{{ widget.gallery_photo7_caption.value }}"},
                  { "url":"{{widget.gallery_photo8_url.value}}",
                    "link":"{{ widget.gallery_photo8_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo8_alt_tag.value }}",
                    "caption": "{{ widget.gallery_photo8_caption.value }}"},
                  { "url":"{{widget.gallery_photo9_url.value}}",
                    "link":"{{ widget.gallery_photo9_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo9_alt_tag.value }}",
                    "caption": "{{ widget.gallery_photo9_caption.value }}"},
                  { "url":"{{widget.gallery_photo10_url.value}}",
                    "link":"{{ widget.gallery_photo10_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo10_alt_tag.value }}",
                    "caption": "{{ widget.gallery_photo10_caption.value }}"},
                  { "url":"{{widget.gallery_photo11_url.value}}",
                    "link":"{{ widget.gallery_photo11_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo11_alt_tag.value }}",
                    "caption": "{{ widget.gallery_photo11_caption.value }}"},
                  { "url":"{{widget.gallery_photo12_url.value}}",
                    "link":"{{ widget.gallery_photo12_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo12_alt_tag.value }}",
                    "caption": "{{ widget.gallery_photo12_caption.value }}"},
                  { "url":"{{widget.gallery_photo13_url.value}}",
                    "link":"{{ widget.gallery_photo13_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo13_alt_tag.value }}",
                    "caption": "{{ widget.gallery_photo13_caption.value }}"},
                  { "url":"{{widget.gallery_photo14_url.value}}",
                    "link":"{{ widget.gallery_photo14_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo14_alt_tag.value }}",
                    "caption": "{{ widget.gallery_photo14_caption.value }}"},
                  { "url":"{{widget.gallery_photo15_url.value}}",
                    "link":"{{ widget.gallery_photo15_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo15_alt_tag.value }}",
                    "caption": "{{ widget.gallery_photo15_caption.value }}"},
                  { "url":"{{widget.gallery_photo16_url.value}}",
                    "link":"{{ widget.gallery_photo16_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo16_alt_tag.value }}",
                    "caption": "{{ widget.gallery_photo16_caption.value }}"},
                  { "url":"{{widget.gallery_photo17_url.value}}",
                    "link":"{{ widget.gallery_photo17_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo17_alt_tag.value }}",
                    "caption": "{{ widget.gallery_photo17_caption.value }}"},
                  { "url":"{{widget.gallery_photo18_url.value}}",
                    "link":"{{ widget.gallery_photo18_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo18_alt_tag.value }}",
                    "caption": "{{ widget.gallery_photo18_caption.value }}"},
                  { "url":"{{widget.gallery_photo19_url.value}}",
                    "link":"{{ widget.gallery_photo19_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo19_alt_tag.value }}",
                    "caption": "{{ widget.gallery_photo19_caption.value }}"},
                  { "url":"{{widget.gallery_photo20_url.value}}",
                    "link":"{{ widget.gallery_photo20_link.value }}",
                    "alt_tag":"{{ widget.gallery_photo20_alt_tag.value }}",
                    "caption": "{{ widget.gallery_photo20_caption.value }}"} ]
    }
  </script>
</div>
