/* Mini News Feed */

.mini-news-feed-widget{ width:100%; }

.mini-news-feed-widget .news-item-preview{
  display:block;
  position:relative;
  width:33%;
  padding:10px;
  float:left;
}

.mini-news-feed-widget.narrow .news-item-preview{
  width:100%;
  max-width:300px;
  padding:10px;
  margin:5px auto;
  float:none;
}

.mini-news-feed-widget img{
  max-width:100%;
}

.mini-news-feed-widget.narrow img{
  max-width:250px;
}

.mini-news-feed-widget .post-title{
  font-weight:normal;
  margin:0;
  padding:.25em 0;
}

.mini-news-feed-widget .post-details{
  padding:.25em 0;
  font-size:80%;
  text-transform: uppercase;
}

.mini-news-feed-widget .news-item-link{
  display:block;
  padding:.25em 0;
  font-weight:bold;
}
