<div class="storage-list widget">
  <ul>

    <!-- each storage unit category is enclosed in a li -->
    <!-- begin storage unit category >>> -->
    <li>

      <p class="storage-head">
        <strong>Up to 5 x 5 (25 sq ft)</strong>
        <span>boxes, small furniture, etc.</span>
      </p>

      <div>

        <!-- begin list of storage units >>> -->
        <ul>

          <!-- each unit that falls under the above category is enclosed in a li -->
          <li class="storage-item">

            <p class="storage-info">
              <span class="storage-size">5 x 5</span>
              <span class="storage-price"><em class="strike">$32</em>&nbsp;<strong>$16</strong></span>
              <span class="storage-special">1/2 off first month</span>
            </p>

            <p class="storage-desc"><strong>Elevator Access:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

            <span class="storage-action"><a href="#" class="btn">Reserve Now</a></span>

          </li>


          <li class="storage-item">

            <p class="storage-info">
              <span class="storage-size">5 x 5</span>
              <span class="storage-price"><em class="strike">$32</em>&nbsp;<strong>$16</strong></span>
              <span class="storage-special">1/2 off first month</span>
            </p>

            <p class="storage-desc"><strong>Elevator Access:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

            <span class="storage-action"><a href="#" class="btn">Reserve Now</a></span>

          </li>


          <li class="storage-item">

            <p class="storage-info">
              <span class="storage-size">5 x 5</span>
              <span class="storage-price"><em class="strike">$32</em>&nbsp;<strong>$16</strong></span>
              <span class="storage-special">1/2 off first month</span>
            </p>

            <p class="storage-desc"><strong>Elevator Access:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

            <span class="storage-action"><a href="#" class="btn">Reserve Now</a></span>

          </li>


        </ul> <!-- <<< end list of storage units -->

      </div>

    </li> <!-- <<< end storage unit category -->

    <li>

      <p class="storage-head">
        <strong>Up to 10 x 10 (100 sq ft)</strong>
        <span>2 bed apt or household equip.</span>
      </p>

      <div>

        <!-- begin list of storage units >>> -->
        <ul>

          <!-- each unit that falls under the above category is enclosed in a li -->
          <li class="storage-item">

            <p class="storage-info">
              <span class="storage-size">5 x 5</span>
              <span class="storage-price"><em class="strike">$32</em>&nbsp;<strong>$16</strong></span>
              <span class="storage-special">1/2 off first month</span>
            </p>

            <p class="storage-desc"><strong>Elevator Access:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

            <span class="storage-action"><a href="#" class="btn">Reserve Now</a></span>

          </li>


          <li class="storage-item">

            <p class="storage-info">
              <span class="storage-size">5 x 5</span>
              <span class="storage-price"><em class="strike">$32</em>&nbsp;<strong>$16</strong></span>
              <span class="storage-special">1/2 off first month</span>
            </p>

            <p class="storage-desc"><strong>Elevator Access:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

            <span class="storage-action"><a href="#" class="btn">Reserve Now</a></span>

          </li>


        </ul> <!-- <<< end list of storage units -->

      </div>

    </li> <!-- <<< end storage unit category -->

    <li>

      <p class="storage-head">
        <strong>Up to 10 x 20 (200 sq ft)</strong>
        <span>4 bed house or full garage items</span>
      </p>

      <div>

        <!-- begin list of storage units >>> -->
        <ul>

          <!-- each unit that falls under the above category is enclosed in a li -->
          <li class="storage-item">

            <p class="storage-info">
              <span class="storage-size">5 x 5</span>
              <span class="storage-price"><em class="strike">$32</em>&nbsp;<strong>$16</strong></span>
              <span class="storage-special">1/2 off first month</span>
            </p>

            <p class="storage-desc"><strong>Elevator Access:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

            <span class="storage-action"><a href="#" class="btn">Reserve Now</a></span>

          </li>


          <li class="storage-item">

            <p class="storage-info">
              <span class="storage-size">5 x 5</span>
              <span class="storage-price"><em class="strike">$32</em>&nbsp;<strong>$16</strong></span>
              <span class="storage-special">1/2 off first month</span>
            </p>

            <p class="storage-desc"><strong>Elevator Access:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

            <span class="storage-action"><a href="#" class="btn">Reserve Now</a></span>

          </li>


          <li class="storage-item">

            <p class="storage-info">
              <span class="storage-size">5 x 5</span>
              <span class="storage-price"><em class="strike">$32</em>&nbsp;<strong>$16</strong></span>
              <span class="storage-special">1/2 off first month</span>
            </p>

            <p class="storage-desc"><strong>Elevator Access:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

            <span class="storage-action"><a href="#" class="btn">Reserve Now</a></span>

          </li>


        </ul> <!-- <<< end list of storage units -->

      </div>

    </li> <!-- <<< end storage unit category -->

  </ul> <!-- <<< end storage unit widget -->

</div>