<form>
  <fieldset>

    <div class="form-field">
      {{ widget.core_client_id.id_hidden_field }}
      <label for="{{ widget.core_client_id.value_field_id }}">
        Core Client ID
      </label>
      <input type="text"
        placeholder="1234"
        id="{{ widget.core_client_id.value_field_id }}"
        name="{{ widget.core_client_id.value_field_name }}"
        value="{{ widget.core_client_id.best_value }}"
      />
    </div>

    <div class="form-field">
      {{ widget.corp_search_page.id_hidden_field }}
      <label for="{{ widget.corp_search_page.value_field_id }}">
        Corp Search Page Path
      </label>
      <input type="text"
        placeholder="/relative/path/to/search_page"
        id="{{ widget.corp_search_page.value_field_id }}"
        name="{{ widget.corp_search_page.value_field_name }}"
        value="{{ widget.corp_search_page.best_value }}"
      />
    </div>

    <div class="form-field">
      {{ widget.core_service_url.id_hidden_field }}
      <label for="{{ widget.core_service_url.value_field_id }}">
        Core Client ID
      </label>
      <input type="text"
        placeholder="http://www.g5search.com"
        id="{{ widget.core_service_url.value_field_id }}"
        name="{{ widget.core_service_url.value_field_name }}"
        value="{{ widget.core_service_url.best_value }}"
      />
    </div>
  
  </fieldset>
  <input type="submit" value="Save" class="btn" />
</form>

