<script id="mf-mini-search-config" type="application/json">
  {
    "clientID": "{{ widget.core_client_id.best_value }}",
    "serviceURL": "{{ widget.core_service_url.best_value }}",
    "corpSearchPage": "{{ widget.corp_search_page.best_value }}"
  }
</script>

<div class="multifamily-mini-search">
  <select class="mf-search-states">
    <option value="">State</option>
  </select>
  <select class="mf-search-cities">
    <option value="">City</option>
  </select>
  <button class="mf-search-go-button">Search</button>
</div>
