.slim-footer nav {
  margin-bottom: 1em;
}
.slim-footer .dxm {
  vertical-align: middle;
}

@media (min-width: 481px) {
  .slim-footer nav {
    float: right;
  }
  .slim-footer .copyright {
    float: left;
    margin-top: 0;
  }
  .slim-footer .attribution {
    clear: right;
    float: right;
  }
}
