.slim-footer p {
  margin: 0;
}
.slim-footer nav {
  margin-bottom: 1em;
}
.slim-footer .signature {
  vertical-align: middle;
  width: 100px;
  height: 23px;
  background: url(http://g5-widget-garden.herokuapp.com/static/components/footer/images/dxm.png) 0 0 no-repeat;
}

@media (min-width: 481px) {
  .slim-footer nav {
    float: right;
  }
  .slim-footer .copyright {
    float: left;
  }
  .slim-footer .attribution {
    clear: right;
    float: right;
  }
}
