<form>
  <div class="field check-field">
    {{ widget.display_navigation.id_hidden_field }}
    <label for="{{ widget.display_navigation.value_field_id }}" >
      Display Navigation
    </label>
    <input type="hidden"
      id="{{ widget.display_navigation.value_field_id }}_false"
      name="{{ widget.display_navigation.value_field_name }}"
      value="false"
    />
    <input type="checkbox"
      id="{{ widget.display_navigation.value_field_id }}"
      name="{{ widget.display_navigation.value_field_name }}"
      value="true"
      {% if widget.display_navigation.best_value == "true" %}
      checked="checked"
      {% endif %}
    />
  </div>

  <fieldset>
    <legend>Choose which links you would like to display</legend>
    <div>
      {{ widget.navigation.id_hidden_field }}
      <ul>
        {% for web_page in widget.navigation.best_value %}
        <li class="field check-field">
          <label for="{{ widget.navigation.value_field_id }}_{{ forloop.index0 }}_display">
            {{ web_page.title }}
          </label>
          <input type="hidden"
            id="{{ widget.navigation.value_field_id }}_{{ forloop.index0 }}_display_false"
            name="{{ widget.navigation.value_field_name }}[{{ forloop.index0 }}][display]"
            value="false"
          />
          <input type="checkbox"
            id="{{ widget.navigation.value_field_id }}_{{ forloop.index0 }}_display"
            name="{{ widget.navigation.value_field_name }}[{{ forloop.index0 }}][display]"
            value="true"
            {% if web_page.display != "false" %}
            checked="checked"
            {% endif %}
          />
        </li>
        {% endfor %}
      </ul>
    </div>
  </fieldset>
  <input type="submit" value="Save" />
</form>
