input.ui-state-error {
  border: 1px solid #BB1100;
  color: #BB1100;
}
div.ui-state-error {
  color: #BB1100;
}
.ui-state-error.message {
  display: none;
}
.submit_response { display: none; color: white; margin: 5px 5px; padding: 5px; width: 100px; }
#success:target {display: block; background: green;}
#failure:target {display: block; background: red;}

