<form>
  <div class="form-field check-field">
    {{ widget.sorting.id_hidden_field }}
    <input type="hidden"
      id="{{ widget.sorting.value_field_id }}_false"
      name="{{ widget.sorting.value_field_name }}"
      value="false"
    />
    <input type="checkbox"
      id="{{ widget.sorting.value_field_id }}"
      name="{{ widget.sorting.value_field_name }}"
      value="true"
      {% if widget.sorting.best_value == "true" %}
      checked="checked"
      {% endif %}
    />
    <label for="{{ widget.sorting.value_field_id }}" >
      Allow sorting
    </label>
  </div>
  <input type="submit" value="Save" class="btn" />
</form>
