<div class="floorplans widget">

  <h2>Select Your Apartment</h2>

  <div class="floorplan-container floorplan-box">

    <h3>1. Select Floor Plan</h3>

    <div id="filters" class="clearfix">

      <div class="beds-filter filter filter-btn">
        <strong class="color">Beds</strong>
        <a href="#" class="floorplan-btn">Studio</a>
        <a href="#" class="floorplan-btn">1</a>
        <a href="#" class="floorplan-btn">2</a>
        <a href="#" class="floorplan-btn">3</a>
        <a href="#" class="color floorplan-btn">All</a>
      </div>
      <div class="baths-filter filter filter-btn">
        <strong class="color">Baths</strong>
        <a href="#" class="floorplan-btn">1</a>
        <a href="#" class="floorplan-btn">2</a>
        <a href="#" class="floorplan-btn">3</a>
        <a href="#" class="color floorplan-btn">All</a>
      </div>
      <div class="filter available-filter">
        <label><input type="checkbox" /> Show Only Available</label>
      </div>

    </div> <!-- end filters -->

    <!-- STEP 1: CHOOSE FLOORPLAN -->
    <div class="floorplans-list">
      <ul>

        <li class="floorplan clearfix">
          <div class="floorplan-heading">
            <p><strong>Cedars One Bedroom</strong></p>
            <a href="select-unit.html" class="choose-floorplan floorplan-btn"><span><strong class="color">5</strong> Available Now</span>
              <span class="soon"><strong class="color">3</strong> Available Soon</span></a>
          </div>
          <div class="floorplan-info">
            <div class="floorplan-img">
              <a href="#" class="floorplan-btn"><img src="http://placehold.it/50x50&text=FP" /></a>
            </div>
            <div class="floorplan-beds">
              <p><strong>1</strong> Bed</p>
              <p><strong>1</strong> Bath</p>
            </div>
            <div class="floorplan-size">
              <p class="sq-ft floorplan-feature"><strong>700 </strong>Sq Ft</p>
            </div>
            <div class="floorplan-rent">
              <p>Starts At: <strong>$450</strong></p>
              <p>Deposit: <strong>$0</strong></p>
            </div>
          </div>
        </li> <!-- end floorplan -->

        <li class="floorplan clearfix">
          <div class="floorplan-heading">
            <p><strong>Cedars One Bedroom</strong></p>
            <a href="select-unit.html" class="choose-floorplan floorplan-btn"><span><strong class="color">5</strong> Available Now</span></a>
          </div>
          <div class="floorplan-info">
            <div class="floorplan-img">
              <a href="#" class="floorplan-btn"><img src="http://placehold.it/50x50&text=FP" /></a>
            </div>
            <div class="floorplan-beds">
              <p><strong>1</strong> Bed</p>
              <p><strong>1</strong> Bath</p>
            </div>
            <div class="floorplan-size">
              <p class="sq-ft floorplan-feature"><strong>700 </strong>Sq Ft</p>
            </div>
            <div class="floorplan-rent">
              <p>Starts At: <strong>$450</strong></p>
              <p>Deposit: <strong>$0</strong></p>
            </div>
          </div>
        </li> <!-- end floorplan -->

        <li class="floorplan clearfix">
          <div class="floorplan-heading">
            <p><strong>Cedars One Bedroom</strong></p>
            <a href="select-unit.html" class="choose-floorplan floorplan-btn"><span><strong class="color">5</strong> Available Now</span></a>
          </div>
          <div class="floorplan-info">
            <div class="floorplan-img">
              <a href="#" class="floorplan-btn"><img src="http://placehold.it/50x50&text=FP" /></a>
            </div>
            <div class="floorplan-beds">
              <p><strong>1</strong> Bed</p>
              <p><strong>1</strong> Bath</p>
            </div>
            <div class="floorplan-size">
              <p class="sq-ft floorplan-feature"><strong>700 </strong>Sq Ft</p>
            </div>
            <div class="floorplan-rent">
              <p>Starts At: <strong>$450</strong></p>
              <p>Deposit: <strong>$0</strong></p>
            </div>
          </div>
        </li> <!-- end floorplan -->

        <li class="floorplan clearfix">
          <div class="floorplan-heading">
            <p><strong>Cedars One Bedroom</strong></p>
            <a href="select-unit.html" class="choose-floorplan floorplan-btn"><span><strong class="color">5</strong> Available Now</span></a>
          </div>
          <div class="floorplan-info">
            <div class="floorplan-img">
              <a href="#" class="floorplan-btn"><img src="http://placehold.it/50x50&text=FP" /></a>
            </div>
            <div class="floorplan-beds">
              <p><strong>1</strong> Bed</p>
              <p><strong>1</strong> Bath</p>
            </div>
            <div class="floorplan-size">
              <p class="sq-ft floorplan-feature"><strong>700 </strong>Sq Ft</p>
            </div>
            <div class="floorplan-rent">
              <p>Starts At: <strong>$450</strong></p>
              <p>Deposit: <strong>$0</strong></p>
            </div>
          </div>
        </li> <!-- end floorplan -->

      </ul>

    </div> <!-- end STEP 1: SELECT FLOORPLAN -->

  </div> <!-- end floorplan-container -->

</div> <!-- end floorplans -->
