.footer .hours span {
  display: block;
}
.footer .copyright {
  clear: left;
}
.footer .signature {
  vertical-align: middle;
  width: 100px;
  height: 23px;
  background: url(img/dxm.png) 0 0 no-repeat;
}
.footer .accessibility {
  vertical-align: middle;
  width: 70px;
  height: 31px;
  background: url(img/accessibility.png) 0 0 no-repeat;
}

@media (min-width: 481px) {
  .footer nav {
    float: right;
  }
  .footer .footer-content {
    float: left;
  }
  .footer .external-links {
    float: right;
  }
}
