<div class="content">
  <h1>
    <a href="/" class="logo">
      {% if widget.logo.value == empty %}
        <img src="http://placehold.it/400x100&text=logo" />
      {% else %}
        <img src="{{ widget.logo.value }}" />
      {% endif %}
    </a>
  </h1>

  <a id="navigation"></a>
  <div class="navigation collapsable">
    <div class="buttons">
      <a href="tel://" class="tel hidden-phone">(323) 825-2132</a>
      <a href="#" class="pay-rent btn">Pay Rent</a>
      <a class="collapsable-btn btn" data-toggle="collapse" data-target=".collapsable-content"><span class="text"></span><span class="bars"><span></span><span></span><span></span></span></a>
    </div>
    <nav role="navigation" class="collapsable-content">
      <ul>
        {% for web_page in widget.navigation.value %}
          {% if web_page.display == "true" %}
            <li><a href="{{ web_page.url }}.html">{{ web_page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
