<div class="service-request-form widget g5-enhanced-form">

  {% if widget.form_title.best_value != "" %}
    <h2 class="form-heading">{{ widget.form_title.best_value}}</h2>
  {% endif %}

  {% if widget.form_note.best_value != "" %}
    <p class="form-note">{{ widget.form_note.best_value }}</p>
  {% endif %}

  <form id="form-template" class="form h-entry" action="{{ widget.form_url.best_value | url_encode }}" method="POST">
    <input type="hidden" class="u-syndication" name="u-syndication" value="{{ widget.form_syndication_url.best_value | url_encode }}" />

    <div class="p-author h-card">
      <div class="form-field">
        <label for="p-name">Resident Name</label>
        <input type="text" id="p-name" class="p-name" name="p-name" required />
      </div>

      <div class="form-field">
        <label for="u-email">Email</label>
        <input type="email" id="u-email" class="u-email" name="u-email" required />
      </div>

      <div class="form-field">
        <label for="p-tel">Phone Number <span class="form-optional">optional</span></label>
        <input type="tel" id="p-tel" class="p-tel" name="p-tel" />
      </div>

      <div class="form-field">
        <label for="p-adr">Apartment Number</label>
        <input type="text" id="p-adr" class="p-adr" name="p-adr" />
      </div>

    </div>

    <div class="form-field">
      <fieldset>
        <legend>Permission to enter?</legend>
        <label><input type="radio" class="p-g5-permission" name="p-g5-permission" checked> Yes</label>
        <label><input type="radio" class="p-g5-permission" name="p-g5-permission"> No</label>
      </fieldset>
    </div>

    <div class="form-field">
      <label for="dt-published">Date preferred</label>
      <input type="date" id="dt-published" class="dt-published" name="dt-published" />
    </div>

    <div class="form-field">
      <label for="e-content">Provide Details</label>
      <textarea id="e-content" class="e-content" name="e-content"></textarea>
    </div>

    <div class="form-field">
      <label><input type="checkbox" id="p-g5-permission" class="p-g5-permission" name="p-g5-permission" checked> Permission is granted to enter my home</label>
    </div>
    
    <!-- for bots only. inline js/css necessary to make sure this is always hidden -->
    <input id="lead_comments" name="lead_comments" onfocus="this.blur();" style="margin-left: -9999px; float: left;" type="text" value="">

    <input type="submit" value="Send" />
  </form>
  
  <div class="submitting" style="display: none">Submitting</div>
  <div class="error" style="display: none">Error</div>
  <div class="success" style="display: none">Success</div>

</div>
