<div class="edit-photo-widget edit-widget-lightbox edit-widget">
  <form>
    <fieldset>
      <input class="photo-url" type="url" placeholder="IMAGE URL "/>
      <div class="media">
        <div class="media-img">
          <img src="http://placehold.it/125x80" .>
        </div>
        <div class="media-body">
          <input class="photo-title" type="text" placeholder="TITLE" />
          <input class="photo-caption" type="text" placeholder="CAPTION" />
        </div>
      </div>
    </fieldset>

    <div class="edit-buttons">
      <a class="cancel" href="#">Cancel</a>
      <a class="btn" href="#">Save</a>
    </div>
  </form>
</div>