<form>
  <div class="field">
    <label for="{{ widget.twitter_username.value_field_id }}" >
      Twitter Username
    </label>
    {{ widget.twitter_username.id_hidden_field }}
    <input type="text"
      id="{{ widget.twitter_username.value_field_id }}"
      name="{{ widget.twitter_username.value_field_name }}"
      value="{{ widget.twitter_username.best_value }}"
    />
  </div>

  <div class="field">
    <label for="{{ widget.facebook_url.value_field_id }}" >
      Facebook URL
    </label>
    {{ widget.facebook_url.id_hidden_field }}
    <input type="text"
      id="{{ widget.facebook_url.value_field_id }}"
      name="{{ widget.facebook_url.value_field_name }}"
      value="{{ widget.facebook_url.best_value | url_encode }}"
    />
  </div>

  <div class="field">
    <label for="{{ widget.yelp_username.value_field_id }}" >
      Yelp Username
    </label>
    {{ widget.yelp_username.id_hidden_field }}
    <input type="text"
      id="{{ widget.yelp_username.value_field_id }}"
      name="{{ widget.yelp_username.value_field_name }}"
      value="{{ widget.yelp_username.best_value }}"
    />
  </div>

  <div class="field">
    <label for="{{ widget.foursquare_url.value_field_id }}" >
      Foursquare URL
    </label>
    {{ widget.foursquare_url.id_hidden_field }}
    <input type="text"
      id="{{ widget.foursquare_url.value_field_id }}"
      name="{{ widget.foursquare_url.value_field_name }}"
      value="{{ widget.foursquare_url.best_value | url_encode }}"
    />
  </div>

  <div class="field">
    <label for="{{ widget.pinterest_username.value_field_id }}" >
      Pinterest Username
    </label>
    {{ widget.pinterest_username.id_hidden_field }}
    <input type="text"
      id="{{ widget.pinterest_username.value_field_id }}"
      name="{{ widget.pinterest_username.value_field_name }}"
      value="{{ widget.pinterest_username.best_value }}"
    />
  </div>

  <div class="field">
    <label for="{{ widget.tumblr_username.value_field_id }}" >
      Tumblr Username
    </label>
    {{ widget.tumblr_username.id_hidden_field }}
    <input type="text"
      id="{{ widget.tumblr_username.value_field_id }}"
      name="{{ widget.tumblr_username.value_field_name }}"
      value="{{ widget.tumblr_username.best_value }}"
    />
  </div>

  <div class="field">
    <label for="{{ widget.instagram_username.value_field_id }}" >
      Instagram Username
    </label>
    {{ widget.instagram_username.id_hidden_field }}
    <input type="text"
      id="{{ widget.instagram_username.value_field_id }}"
      name="{{ widget.instagram_username.value_field_name }}"
      value="{{ widget.instagram_username.best_value }}"
    />
  </div>

  <div class="field">
    <label for="{{ widget.vimeo_username.value_field_id }}" >
      Vimeo Username
    </label>
    {{ widget.vimeo_username.id_hidden_field }}
    <input type="text"
      id="{{ widget.vimeo_username.value_field_id }}"
      name="{{ widget.vimeo_username.value_field_name }}"
      value="{{ widget.vimeo_username.best_value }}"
    />
  </div>

  <div class="field">
      <label for="{{ widget.youtube_username.value_field_id }}" >
        YouTube Username
      </label>
      {{ widget.youtube_username.id_hidden_field }}
      <input type="text"
        id="{{ widget.youtube_username.value_field_id }}"
        name="{{ widget.youtube_username.value_field_name }}"
        value="{{ widget.youtube_username.best_value }}"
      />
    </div>

  <input type="submit" value="Save" />
</form>
