<form>
  <div class="field check">
    <label for="twitter-username">Twitter</label>
		<input type="hidden"
			name="widget[widget_attributes_attributes][{{ widget.social_links.twitter_username.id }}][id]"
			value="{{ widget.social_links.twitter_username.id }}" />

	  <input type="text"
  	  id="twitter-username"
			placeholder="Twitter username"
			name="widget[widget_attributes_attributes][{{ widget.social_links.twitter_username.id }}][value]"
			value="{{ widget.social_links.twitter_username.value }}" />

  </div>
  <div class="field check">
    <label for="facebook-url">Facebook</label>
		<input
			type="hidden"
			name="widget[widget_attributes_attributes][{{ widget.social_links.facebook_url.id }}][id]"
			value="{{ widget.social_links.facebook_url.id }}" />

	  <input type="url"
	    id="facebook-url"
			placeholder="Facebook url"
			name="widget[widget_attributes_attributes][{{ widget.social_links.facebook_url.id }}][value]"
			value="{{ widget.social_links.facebook_url.value }}" />

  </div>
  <div class="field check">
    <label for="yelp-username">Yelp</label>
		<input type="hidden"
			name="widget[widget_attributes_attributes][{{ widget.social_links.yelp_username.id }}][id]"
			value="{{ widget.social_links.yelp_username.id }}" />

	  <input type="text"
	    id="yelp-username"
			placeholder="Yelp username"
			name="widget[widget_attributes_attributes][{{ widget.social_links.yelp_username.id }}][value]"
			value="{{ widget.social_links.yelp_username.value }}" />

  </div>

  <div class="field check">
    <label for="foursquare-url">FourSquare</label>
		<input type="hidden"
			name="widget[widget_attributes_attributes][{{ widget.social_links.foursquare_url.id }}][id]"
			value="{{ widget.social_links.foursquare_url.id }}" />

	  <input type="url"
	    id="foursquare-url"
			placeholder="FourSquare url"
			name="widget[widget_attributes_attributes][{{ widget.social_links.foursquare_url.id }}][value]"
			value="{{ widget.social_links.foursquare_url.value }}" />

  </div>

  <div class="field check">
    <label for="pinterest-username">Pinterest</label>
		<input type="hidden"
			name="widget[widget_attributes_attributes][{{ widget.social_links.pinterest_username.id }}][id]"
			value="{{ widget.social_links.pinterest_username.id }}" />

	  <input type="text"
	    id="pinterest-username"
			placeholder="Pinterest username"
			name="widget[widget_attributes_attributes][{{ widget.social_links.pinterest_username.id }}][value]"
			value="{{ widget.social_links.pinterest_username.value }}" />

  </div>

  <input type="submit" value="Save" />
</form>
