<div class="social-links widget">
  {% if widget.social_links.facebook_url.value != ""  %}
    <a href="{{ widget.social_links.facebook_url.value }}" class="facebook" title="Facebook">Facebook</a>
  {% endif %}
  {% if widget.social_links.twitter_username.value != ""  %}
    <a href="http://twitter.com/{{ widget.social_links.twitter_username.value }}" class="twitter" title="Twitter">Twitter</a>
  {% endif %}
  {% if widget.social_links.yelp_username.value != ""  %}
    <a href="http://www.yelp.com/biz/{{ widget.social_links.yelp_username.value }}" class="yelp" title="Yelp">Yelp</a>
  {% endif %}
  {% if widget.social_links.foursquare_url.value != "" %}
    <a href="#" class="foursquare" title="Foursquare">Foursquare</a>
  {% endif %}
  {% if widget.social_links.pinterest_username.value != ""  %}
    <a href="http://pinterest.com/{{ widget.social_links.pinterest_username.value }}" class="pinterest" title="Pinterest">Pinterest</a>
  {% endif %}
</div>
