<div class="social-links widget">

  {% if widget.facebook_url.best_value != empty  %}
    <a href="{{ widget.facebook_url.best_value | url_encode }}" class="facebook" title="Facebook">Facebook</a>
  {% endif %}

  {% if widget.twitter_username.best_value != empty  %}
    <a href="http://www.twitter.com/{{ widget.twitter_username.best_value | url_encode }}" class="twitter" title="Twitter">Twitter</a>
  {% endif %}

  {% if widget.yelp_username.best_value != empty  %}
    <a href="http://www.yelp.com/biz/{{ widget.yelp_username.best_value | url_encode }}" class="yelp" title="Yelp">Yelp</a>
  {% endif %}

  {% if widget.foursquare_url.best_value != empty %}
    <a href="{{ widget.foursquare_url.best_value | url_encode }}" class="foursquare" title="Foursquare">Foursquare</a>
  {% endif %}

  {% if widget.pinterest_username.best_value != empty  %}
    <a href="http://www.pinterest.com/{{ widget.pinterest_username.best_value | url_encode }}" class="pinterest" title="Pinterest">Pinterest</a>
  {% endif %}

  {% if widget.tumblr_username.best_value != empty  %}
    <a href="http://{{ widget.tumblr_username.best_value | url_encode }}.tumblr.com/" class="tumblr" title="Tumblr">Tumblr</a>
  {% endif %}

  {% if widget.instagram_username.best_value != empty  %}
    <a href="http://www.instagram.com/{{ widget.instagram_username.best_value | url_encode }}" class="instagram" title="Instagram">Instagram</a>
  {% endif %}

  {% if widget.vimeo_username.best_value != empty  %}
    <a href="http://www.vimeo.com/{{ widget.vimeo_username.best_value | url_encode }}" class="vimeo" title="Vimeo">Vimeo</a>
  {% endif %}

  {% if widget.youtube_username.best_value != empty  %}
    <a href="http://www.youtube.com/{{ widget.youtube_username.best_value | url_encode }}" class="youtube" title="YouTube">YouTube</a>
  {% endif %}

</div>
