.column:before,
.column:after {
  content: " ";
  display: table;
}
.column:after {
  clear: both;
}

.col {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.column-halves .col,
.column-uneven-thirds-1 .col,
.column-uneven-thirds-2 .col,
.column-thirds .col,
.column-fourths .col {
  float: left;
}

.column-halves .col {
  width: 50%;
}

.column-thirds .col {
  width: 33.33333%;
}

.column-uneven-thirds-1 .col-1 {
  width: 33.33333%;
}

.column-uneven-thirds-1 .col-2 {
  width: 66.66667%;
}

.column-uneven-thirds-2 .col-1 {
  width: 66.66667%;
}

.column-uneven-thirds-2 .col-2 {
  width: 33.33333%;
}

.column-fourths .col {
  width: 25%;
}
