.footer nav {
  margin-bottom: 1em; }
.footer .widget {
  margin-bottom: 1em; }
.footer .hours span,
.footer .hours  strong {
  display: block;
}
.footer .dxm {
  clear: right;
  float: right; }

@media (min-width: 768px) {
  .footer nav {
    float: right; }
  .footer li {
    display: inline-block; }
  .footer li:before {
    content: '/'; }
  .footer li:first-child:before {
    content: ''; }
  .footer .widget {
    float: left;
    margin-right: 3em; }
  .copyright,
  .dxm {
    clear: right;
    float: right; } }
