footer[role=contentinfo] {
  clear: both;
  position: relative;
}
footer[role=contentinfo] nav li,
footer[role=contentinfo] nav a {
  display: inline;
}
.dxm {
  clear: right;
  float: right;
  width: 100px;
  height: 23px;
  background: url(/img/dxm.png) 0 0 no-repeat;
}

@media (min-width: 768px) {
  footer[role=contentinfo] nav {
    float: right;
  }
  footer[role=contentinfo] .widget {
    float: left;
  }
}