.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

.col {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row-halves .col,
.row-uneven-thirds-1 .col,
.row-uneven-thirds-2 .col,
.row-thirds .col,
.row-fourths .col {
  float: left;
}

.row-halves .col {
  width: 50%;
}

.row-thirds .col {
  width: 33.33333%;
}

.row-uneven-thirds-1 .col-1 {
  width: 33.33333%;
}

.row-uneven-thirds-1 .col-2 {
  width: 66.66667%;
}

.row-uneven-thirds-2 .col-1 {
  width: 66.66667%;
}

.row-uneven-thirds-2 .col-2 {
  width: 33.33333%;
}

.row-quarters .col {
  width: 25%;
}

@media screen and (max-width: 56.8125em) {
  .row [class*=col] {
    width: 100%;
    padding: 0;
  }
}
