<form>
  <div class="form-field">
    {{ widget.cta_one_text.id_hidden_field }}
    <label name="{{ widget.cta_one_text.value_field_name }}">
      CTA One Text
    </label>
    <input type="text"
      id="{{ widget.cta_one_text.value_field_id }}"
      name="{{ widget.cta_one_text.value_field_name }}"
      value="{{ widget.cta_one_text.best_value }}" />
  </div>

  <div class="form-field">
    {{ widget.cta_one_url.id_hidden_field }}
    <label name="{{ widget.cta_one_url.value_field_name }}">
      CTA One URL
    </label>
    <select
      id="{{ widget.cta_one_url.value_field_id }}"
      name="{{ widget.cta_one_url.value_field_name }}"
    >
      <option value="">Please Select</option>
      {% for cta in widget.available_calls_to_action.best_value %}
        <option value="{{ cta[1] }}"
          {% if widget.cta_one_url.best_value == cta[1] %}selected="selected"{% endif %}>
          {{ cta[1] }}
        </option>
      {% endfor %}
    </select>
  </div>

  <div class="form-field">
    {{ widget.cta_two_text.id_hidden_field }}
    <label name="{{ widget.cta_two_text.value_field_name }}">
      CTA Two Text
    </label>
    <input type="text"
      id="{{ widget.cta_two_text.value_field_id }}"
      name="{{ widget.cta_two_text.value_field_name }}"
      value="{{ widget.cta_two_text.best_value }}" />
  </div>

  <div class="form-field">
    {{ widget.cta_two_url.id_hidden_field }}
    <label name="{{ widget.cta_two_url.value_field_name }}">
      CTA Two URL
    </label>
    <select
      id="{{ widget.cta_two_url.value_field_id }}"
      name="{{ widget.cta_two_url.value_field_name }}"
    >
      <option value="">Please Select</option>
      {% for cta in widget.available_calls_to_action.best_value %}
        <option value="{{ cta[1] }}"
          {% if widget.cta_two_url.best_value == cta[1] %}selected="selected"{% endif %}>
          {{ cta[1] }}
        </option>
      {% endfor %}
    </select>
  </div>

  <div class="form-field">
    {{ widget.cta_three_text.id_hidden_field }}
    <label name="{{ widget.cta_three_text.value_field_name }}">
      CTA Three Text
    </label>
    <input type="text"
      id="{{ widget.cta_three_text.value_field_id }}"
      name="{{ widget.cta_three_text.value_field_name }}"
      value="{{ widget.cta_three_text.best_value }}" />
  </div>

  <div class="form-field">
    {{ widget.cta_three_url.id_hidden_field }}
    <label name="{{ widget.cta_three_url.value_field_name }}">
      CTA Three URL
    </label>
    <select
      id="{{ widget.cta_three_url.value_field_id }}"
      name="{{ widget.cta_three_url.value_field_name }}"
    >
      <option value="">Please Select</option>
      {% for cta in widget.available_calls_to_action.best_value %}
        <option value="{{ cta[1] }}"
          {% if widget.cta_three_url.best_value == cta[1] %}selected="selected"{% endif %}>
          {{ cta[1] }}
        </option>
      {% endfor %}
    </select>
  </div>

  <div class="form-field">
    {{ widget.cta_four_text.id_hidden_field }}
    <label name="{{ widget.cta_four_text.value_field_name }}">
      CTA Four Text
    </label>
    <input type="text"
      id="{{ widget.cta_four_text.value_field_id }}"
      name="{{ widget.cta_four_text.value_field_name }}"
      value="{{ widget.cta_four_text.best_value }}" />
  </div>

  <div class="form-field">
    {{ widget.cta_four_url.id_hidden_field }}
    <label name="{{ widget.cta_four_url.value_field_name }}">
      CTA Four URL
    </label>
    <select
      id="{{ widget.cta_four_url.value_field_id }}"
      name="{{ widget.cta_four_url.value_field_name }}"
    >
      <option value="">Please Select</option>
      {% for cta in widget.available_calls_to_action.best_value %}
        <option value="{{ cta[1] }}"
          {% if widget.cta_four_url.best_value == cta[1] %}selected="selected"{% endif %}>
          {{ cta[1] }}
        </option>
      {% endfor %}
    </select>
  </div>

  <input type="submit" value="Save" class="btn" />
</form>
