<form>
  <div class="field">
    <label>CTA 1 Text</label>
    <input type="hidden"
      name="widget[widget_attributes_attributes][{{ widget.calls_to_action.cta_one_text.id }}][id]"
      value="{{ widget.calls_to_action.cta_one_text.id }}">

    <input type="text"
      name="widget[widget_attributes_attributes][{{ widget.calls_to_action.cta_one_text.id }}][value]"
      value="{{ widget.calls_to_action.cta_one_text.value }}" />
  </div>
  <div class="field">
    <label>CTA 1 URL</label>
    <input type="hidden"
      name="widget[widget_attributes_attributes][{{ widget.calls_to_action.cta_one_url.id }}][id]"
      value="{{ widget.calls_to_action.cta_one_url.id }}">

    <select name="widget[widget_attributes_attributes][{{ widget.calls_to_action.cta_one_url.id }}][value]">
      <option value="">Please Select</option>
      {% for cta in widget.available_calls_to_action %}
        <option value="{{ cta[1] }}"
          {% if widget.calls_to_action.cta_one_url.value == cta[1] %}selected="selected"{% endif %}>
          {{ cta[1] }}
        </option>
      {% endfor %}
    </select>
  </div>
  <div class="field">
    <label>CTA 2 Text</label>
    <input type="hidden"
      name="widget[widget_attributes_attributes][{{ widget.calls_to_action.cta_two_text.id }}][id]"
      value="{{ widget.calls_to_action.cta_two_text.id }}">

    <input type="text"
      name="widget[widget_attributes_attributes][{{ widget.calls_to_action.cta_two_text.id }}][value]"
      value="{{ widget.calls_to_action.cta_two_text.value }}" />
  </div>
  <div class="field">
    <label>CTA 2 URL</label>
    <input type="hidden"
      name="widget[widget_attributes_attributes][{{ widget.calls_to_action.cta_two_url.id }}][id]"
      value="{{ widget.calls_to_action.cta_two_url.id }}">

    <select name="widget[widget_attributes_attributes][{{ widget.calls_to_action.cta_two_url.id }}][value]">
      <option value="">Please Select</option>
      {% for cta in widget.available_calls_to_action %}
        <option value="{{ cta[1] }}"
          {% if widget.calls_to_action.cta_two_url.value == cta[1] %}selected="selected"{% endif %}>
          {{ cta[1] }}
        </option>
      {% endfor %}
    </select>
  </div>
  <div class="field">
    <label>CTA 3 Text</label>
    <input type="hidden"
      name="widget[widget_attributes_attributes][{{ widget.calls_to_action.cta_three_text.id }}][id]"
      value="{{ widget.calls_to_action.cta_three_text.id }}">

    <input type="text"
      name="widget[widget_attributes_attributes][{{ widget.calls_to_action.cta_three_text.id }}][value]"
      value="{{ widget.calls_to_action.cta_three_text.value }}" />
  </div>
  <div class="field">
    <label>CTA 3 URL</label>
    <input type="hidden"
      name="widget[widget_attributes_attributes][{{ widget.calls_to_action.cta_three_url.id }}][id]"
      value="{{ widget.calls_to_action.cta_three_url.id }}">

    <select name="widget[widget_attributes_attributes][{{ widget.calls_to_action.cta_three_url.id }}][value]">
      <option value="">Please Select</option>
      {% for cta in widget.available_calls_to_action %}
        <option value="{{ cta[1] }}"
          {% if widget.calls_to_action.cta_three_url.value == cta[1] %}selected="selected"{% endif %}>
          {{ cta[1] }}
        </option>
      {% endfor %}
    </select>
  </div>
  <div class="field">
    <label>CTA 4 Text</label>
    <input type="hidden"
      name="widget[widget_attributes_attributes][{{ widget.calls_to_action.cta_four_text.id }}][id]"
      value="{{ widget.calls_to_action.cta_four_text.id }}">

    <input type="text"
      name="widget[widget_attributes_attributes][{{ widget.calls_to_action.cta_four_text.id }}][value]"
      value="{{ widget.calls_to_action.cta_four_text.value }}" />
  </div>
  <div class="field">
    <label>CTA 4 URL</label>
    <input type="hidden"
      name="widget[widget_attributes_attributes][{{ widget.calls_to_action.cta_four_url.id }}][id]"
      value="{{ widget.calls_to_action.cta_four_url.id }}">

    <select name="widget[widget_attributes_attributes][{{ widget.calls_to_action.cta_four_url.id }}][value]">
      <option value="">Please Select</option>
      {% for cta in widget.available_calls_to_action %}
        <option value="{{ cta[1] }}"
          {% if widget.calls_to_action.cta_four_url.value == cta[1] %}selected="selected"{% endif %}>
          {{ cta[1] }}
        </option>
      {% endfor %}
    </select>
  </div>
  <input type="submit" value="Save" />
</form>

<script type="text/javascript">
  (function() {
    window.UniqueSelectValues = (function() {
      function UniqueSelectValues(selects) {
        var _this = this;

        this.selects = selects;
        this.disableOptions();
        this.selects.change(function() {
          return _this.disableOptions();
        });
      }

      UniqueSelectValues.prototype.disableOptions = function() {
        var select, _i, _len, _ref, _results;

        this.enableAll();
        _ref = this.selects;
        _results = [];
        for (_i = 0, _len = _ref.length; _i < _len; _i++) {
          select = _ref[_i];
          if (select.value !== '') {
            _results.push(this.makeDisabled(select));
          }
        }
        return _results;
      };

      UniqueSelectValues.prototype.enableAll = function() {
        var option, _i, _len, _ref, _results;

        _ref = this.selects.children();
        _results = [];
        for (_i = 0, _len = _ref.length; _i < _len; _i++) {
          option = _ref[_i];
          if (option.disabled) {
            _results.push($(option).removeAttr('disabled'));
          }
        }
        return _results;
      };

      UniqueSelectValues.prototype.makeDisabled = function(select) {
        var options;

        options = this.selects.not(select).children("[value='" + select.value + "']");
        return options.attr('disabled', 'disabled');
      };

      return UniqueSelectValues;

    })();

  }).call(this);

  $(
  function(){
    new window.UniqueSelectValues($("div.field select"));
  });
</script>