<!-- THIS CAN HELP YOU PASS YOUR OPTIONS TO YOUR JAVASCRIPT -->

<script id="ctas-config" type="application/json">
  {
    "firstValue": "{{ widget.first_value.best_value }}",
    "secondValue": "{{ widget.second_value.best_value }}"
  }
</script>


<nav class="action-calls custom-action-calls widget">
  <ul>

    <li>
      <a href="{{ widget.cta_link_1.best_value }}">{{ widget.cta_text_1.best_value }}</a>
    </li>

    <li>
      <a href="{{ widget.cta_link_2.best_value }}">{{ widget.cta_text_2.best_value }}</a>
    </li>

  </ul>
</nav>
