<nav class="action-calls widget">
  <ul>
    {% if widget.cta_one_text.value != empty && widget.cta_one_url.value != empty %}
      <li>
        <a href="{{ widget.cta_one_url.value | UrlEncode }}">{{ widget.cta_one_text.value }}</a>
      </li>
    {% endif %}
    {% if widget.cta_two_text.value != empty && widget.cta_two_url.value != empty %}
    <li>
      <a href="{{ widget.cta_two_url.value | UrlEncode }}">{{ widget.cta_two_text.value }}</a>
    </li>
    {% endif %}
    {% if widget.cta_three_text.value != empty && widget.cta_three_url.value != empty %}
    <li>
      <a href="{{ widget.cta_three_url.value | UrlEncode }}">{{ widget.cta_three_text.value }}</a>
    </li>
    {% endif %}
    {% if widget.cta_four_text.value != empty && widget.cta_four_url.value != empty %}
    <li>
      <a href="{{ widget.cta_four_url.value | UrlEncode }}">{{ widget.cta_four_text.value }}</a>
    </li>
    {% endif %}
  </ul>
</nav>
