<form>

  <!-- column Background Color (Optional) -->
  <div class="form-field">
    {{ widget.column_bg_color.id_hidden_field }}

    <label for="{{ widget.column_bg_color.value_field_id }}" >
      Background Color
    </label>

    <input type="text"
      id="{{ widget.column_bg_color.value_field_id }}"
      name="{{ widget.column_bg_color.value_field_name }}"
      value="{{ widget.column_bg_color.best_value }}"
      placeholder="example: #fff" />
  </div>

  <!-- Select column Layout -->
  <div class="form-field">
    {{ widget.row_count.id_hidden_field }}

    <label for="{{ widget.row_count.value_field_id }}">
      Select Number of Widgets
    </label>

    <select id="{{ widget.row_count.value_field_id }}"
      class="select-row-count"
      name="{{ widget.row_count.value_field_name }}">

      <option value="1" {% if widget.row_count.best_value =="1" %}selected{% endif %}>
        1
      </option>

      <option value="2" {% if widget.row_count.best_value == "2" %}selected{% endif %}>
        2
      </option>

      <option value="3" {% if widget.row_count.best_value == "3" %}selected{% endif %}>
        3
      </option>

      <option value="4" {% if widget.row_count.best_value == "4" %}selected{% endif %}>
        4
      </option>
    </select>
  </div>

  <!-- Select Row One Widget -->
  <div class="form-field row-widgets">
    {{ widget.row_one_widget_name.id_hidden_field }}

    <label for="{{ widget.row_one_widget_name.value_field_id }}"
      class="inline">
      Row One Widget
    </label>

    {% if widget.row_one_widget_name.value %}
    <a id="edit-{{ widget.row_one_widget_name.value_field_id }}"
      data-widget-id="{{ widget.row_one_widget_id.value }}"
      class="edit-widget"
      href="#">
      <small>(Edit)</small>
    </a>
    {% endif %}

    <select  id="{{ widget.row_one_widget_name.value_field_id }}"
      name="{{ widget.row_one_widget_name.value_field_name }}">

      {% for garden_widget in widget.column_widget_garden_widgets.best_value %}
        <option value="{{ garden_widget }}"
          {% if garden_widget == widget.row_one_widget_name.value %}
            selected
          {% endif %}
        >
          {{ garden_widget }}
        </option>
      {% endfor %}

    </select>
  </div>

  <!-- Select Row Two Widget -->
  <div class="form-field row-widgets">
    {{ widget.row_two_widget_name.id_hidden_field }}

    <label for="{{ widget.row_two_widget_name.value_field_id }}"
      class="inline">
      Row Two Widget
    </label>

    {% if widget.row_two_widget_name.value %}
    <a id="edit-{{ widget.row_two_widget_name.value_field_id }}"
      data-widget-id="{{ widget.row_two_widget_id.value }}"
      class="edit-widget"
      href="#">
      <small>(Edit)</small>
    </a>
    {% endif %}

    <select id="{{ widget.row_two_widget_name.value_field_id }}"
      name="{{ widget.row_two_widget_name.value_field_name }}">

      {% for garden_widget in widget.column_widget_garden_widgets.best_value %}
        <option value="{{ garden_widget }}"
          {% if garden_widget == widget.row_two_widget_name.value %}
            selected
          {% endif %}
        >
          {{ garden_widget }}
        </option>
      {% endfor %}

    </select>
  </div>

  <!-- Select Row Three Widget -->
  <div class="form-field col-widgets">
    {{ widget.row_three_widget_name.id_hidden_field }}

    <label for="{{ widget.row_three_widget_name.value_field_id }}"
      class="inline">
      Row Three Widget
    </label>

    {% if widget.row_three_widget_id.value %}
    <a id="edit-{{ widget.row_three_widget_name.value_field_id }}"
      data-widget-id="{{ widget.row_three_widget_id.value }}"
      class="edit-widget"
      href="#">
      <small>(Edit)</small>
    </a>
    {% endif %}

    <select id="{{ widget.row_three_widget_name.value_field_id }}"
      name="{{ widget.row_three_widget_name.value_field_name }}">

      {% for garden_widget in widget.column_widget_garden_widgets.best_value %}
        <option value="{{ garden_widget }}"
          {% if garden_widget == widget.row_three_widget_name.value %}
            selected
          {% endif %}
        >
          {{ garden_widget }}
        </option>
      {% endfor %}

    </select>
  </div>

  <!-- Select Row Four Widget -->
  <div class="form-field col-widgets">
    {{ widget.row_four_widget_name.id_hidden_field }}

    <label for="{{ widget.row_four_widget_name.value_field_id }}"
      class="inline">
      Row Four Widget
    </label>

    {% if widget.row_four_widget_id.value %}
    <a id="edit-{{ widget.row_four_widget_name.value_field_id }}"
      data-widget-id="{{ widget.row_four_widget_id.value }}"
      class="edit-widget"
      href="#">
      <small>(Edit)</small>
    </a>
    {% endif %}

    <select id="{{ widget.row_four_widget_name.value_field_id }}"
      name="{{ widget.row_four_widget_name.value_field_name }}">

      {% for garden_widget in widget.column_widget_garden_widgets.best_value %}
        <option value="{{ garden_widget }}"
          {% if garden_widget == widget.row_four_widget_name.value %}
            selected
          {% endif %}
        >
          {{ garden_widget }}
        </option>
      {% endfor %}

    </select>
  </div>

  <input type="submit" value="Save" class="btn" />
</form>
