<div class="column">
  <div class="row-content column-{{ widget.column_layout.best_value }}">

    <div class="row row-1" id="drop-target-first-row"></div>

    {% if widget.row_count.best_value == "two" %}
      <div class="row row-2" id="drop-target-second-row"></div>
    {% endif %}

    {% if widget.row_count.best_value == "three" %}
      <div class="row row-3" id="drop-target-third-row"></div>
    {% endif %}

    {% if widget.row_count.best_value == "four" %}
      <div class="row row-4" id="drop-target-fourth-row"></div>
    {% endif %}

  </div>
</div>
