<div class="column" {% if widget.column_bg_color.best_value != '' %}style="background-color: {{ widget.column_bg_color.best_value }}"{% endif %}>
  <div class="content column-{{ widget.column_layout.best_value }}">

    <div class="row row-1" id="drop-target-first-row"></div>

    {% if widget.row_count.best_value == "2" %}
      <div class="row row-2" id="drop-target-second-row"></div>
    {% endif %}

    {% if widget.row_count.best_value == "3" %}
      <div class="row row-3" id="drop-target-third-row"></div>
    {% endif %}

    {% if widget.row_count.best_value == "4" %}
      <div class="row row-4" id="drop-target-fourth-row"></div>
    {% endif %}

  </div>
</div>
