.news-feed-widget{}

.news-feed-post{
  padding:10px 0;
  margin:10px 0;
  border-bottom:1px solid #000;
}

.news-feed-post img{
  max-width:300px;
}

.news-feed-post .post-toggle{
  display:block;
  font-weight: bold;
}

.news-feed-post img{ margin-bottom:0.5em; }

.news-feed single-post .post-date,
.news-feed-post .post-date{
  padding-right:0.5em;
}

.news-feed-single-post .post-author,
.news-feed-post .post-author{
  padding-left:0.5em;
}

.news-feed-post .post-body{
  display:none;
}

.news-feed-widget .active-post .post-body{
  display:block;
}

.active-post .post-description{
  display:none;
}

.post-description{ padding: 1em 0 0.5em 0; }

.post-body{ padding:1em 0; }

.news-feed-post .post-expand{ display:block; }

.news-feed-post .post-collapse{ display:none; }

.active-post .post-expand{ display:none; }

.active-post .post-collapse{ display:block; }
