<form>
  <div class="field">
    <label for="{{ widget.twitter_username.value_field_id }}" >
      Twitter Username
    </label>
    {{ widget.twitter_username.id_hidden_field }}
    <input type="text"
      id="{{ widget.twitter_username.value_field_id }}"
      name="{{ widget.twitter_username.value_field_name }}"
      value="{{ widget.twitter_username.value }}"
    />
  </div>

  <div class="field">
    <label for="{{ widget.twitter_feed_title.value_field_id }}" >
      Feed Title
    </label>
    {{ widget.twitter_feed_title.id_hidden_field }}
    <input type="text"
      id="{{ widget.twitter_feed_title.value_field_id }}"
      name="{{ widget.twitter_feed_title.value_field_name }}"
      value="{{ widget.twitter_feed_title.value }}"
    />
  </div>

  <div class="field check-field">
    <label for="{{ widget.twitter_display_avatars.value_field_id }}" >
      Show Avatars?
    </label>
    {{ widget.twitter_display_avatars.id_hidden_field }}
    <br />

    <label for="{{ widget.twitter_display_avatars.value_field_id }}_true">
      Yes
    </label>
    <input type="radio"
      id="{{ widget.twitter_display_avatars.value_field_id }}_true"
      name="{{ widget.twitter_display_avatars.value_field_name }}"
      value="true"
      checked="checked"
    />

    <label for="{{ widget.twitter_display_avatars.value_field_id }}_false">
      No
    </label>
    <input type="radio"
      id="{{ widget.twitter_display_avatars.value_field_id }}_false"
      name="{{ widget.twitter_display_avatars.value_field_name }}"
      value="false"
      {% if widget.twitter_display_avatars.value == "false" %}
      checked="checked"
      {% endif %}
    />
  </div>

  <div class="field">
    <label for="{{ widget.twitter_tweet_count.value_field_id }}">
      Number of Tweets to Show
    </label>
    {{ widget.twitter_tweet_count.id_hidden_field }}
    <input type="number"
      min="1"
      id="{{ widget.twitter_tweet_count.value_field_id }}"
      name="{{ widget.twitter_tweet_count.value_field_name }}"
      value="{{ widget.twitter_tweet_count.value }}"
    />
  </div>

  <input type="submit" value="Save" />
</form>
