<script id="twitter-feed-config" type="application/json">
  {
    "id": "{{ widget.twitter_username.value }}",
    "count": {{ widget.twitter_tweet_count.value }},
    "enableLinks": true,
    "ignoreReplies": true,
    "clearContents": true,
    "template": "{% if widget.twitter_display_avatars.value == 'true' %} <img src=\\'%user_profile_image_url%\\' class=\\'tweet-avatar\\' /> {% endif %} <span class=\\'tweet-text\\'>%text% <a href=\\'http://twitter.com/%user_screen_name%/statuses/%id_str%/\\' class=\\'tweet-date\\'>%time%</a></span>"
  };
</script>

<div id="tweets" class="twitter-feed widget">

</div>