<div class="twitter-feed widget">

  <p class="heading">{{ widget.twitter_feed.title.value }}</p>

  <div id="tweet">
    <p>Tweets are loading...</p>
  </div>

</div>

<script src="http://twitterjs.googlecode.com/svn/trunk/src/twitter.min.js"></script>
<script>
  getTwitters('tweet', {
    id: "{{ widget.twitter_feed.username.value }}",
    count: {{ widget.twitter_feed.tweet_count.value }},
    enableLinks: true,
    ignoreReplies: true,
    clearContents: true,
    template: '{{ if widget.twitter_feed.avatars.value == 'true'}}"%user_profile_image_url%" "%text%"{{ endif }} <a href="http://twitter.com/%user_screen_name%/statuses/%id_str%/">%time%</a>'
  });
</script>
