.gallery .photo {
  margin: 2em 0 1em;
}
.gallery img {
  display: block;
}
.gallery-navigation a {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 1em 1em 0;
  text-indent: -999em;
  overflow: hidden;
  border-radius: 50%;
  background: #283f54;
  cursor: pointer;
}

@media (min-width: 980px) {
  .gallery .photo {
    margin-bottom: 2em;
  }
  .gallery-navigation a {
    margin-right: .2em;
  }
  .gallery-navigation .active {
    background: #a6bfd5;
  }
}