<form>
  <div class="form-field">
    {{ widget.button_label.id_hidden_field }}
    <label for="{{ widget.button_label.value_field_id }}" >
      Button Label
    </label>
    <input type="text"
      id="{{ widget.button_label.value_field_id }}"
      name="{{ widget.button_label.value_field_name }}"
      value="{{ widget.button_label.best_value }}"
    />
  </div>

  <div class="form-field">
    {{ widget.button_url.id_hidden_field }}
    <label for="{{ widget.button_url.value_field_id }}" >
      Button URL
    </label>
    <input type="text"
      id="{{ widget.button_url.value_field_id }}"
      name="{{ widget.button_url.value_field_name }}"
      value="{{ widget.button_url.best_value | url_encode }}"
    />
  </div>

  <div class="form-field check-field">
    {{ widget.display_button.id_hidden_field }}
    <input type="hidden"
      id="{{ widget.display_button.value_field_id }}_false"
      name="{{ widget.display_button.value_field_name }}"
      value="false"
    />
    <input type="checkbox"
      id="{{ widget.display_button.value_field_id }}"
      name="{{ widget.display_button.value_field_name }}"
      value="true"
      {% if widget.display_button.best_value == "true" %}
      checked="checked"
      {% endif %}
    />
    <label for="{{ widget.display_button.value_field_id }}" >
      Display Button
    </label>
  </div>

  <input type="submit" value="Save" class="btn" />
</form>
