<div class="corporate-map widget">
  <script class="config" type="application/javascript">
    var initCorpMap = function() {

      var corpMapConfig = {
        "map": "usa_en",
        "borderColor": "#FFFFFF",
        "color": "#d6d6d6",
        "borderWidth": 2,
        "hoverColor": {{ widget.corporate_map.best_value.hover_color }},
        "selectedColor": {{ widget.corporate_map.best_value.primary_color }},
        "selectedRegions": {{ widget.corporate_map.best_value.populated_states }},
        "locationCounts": {{ widget.corporate_map.best_value.state_location_counts }},
        "onRegionClick": function(element, code, region) {
          window.location.href = "/" + code.toLowerCase();
        }
      }

      var corpSearchPage = "{{ widget.corp_search_page.value }}".trim().length > 0
      var coreClientId = !isNaN({{ widget.core_client_id.value }})

      if(coreClientId && corpSearchPage) {
        $.get( "//www.g5api.com/api/v0/client_locations?client_id={{ widget.core_client_id.value }}", function( data ) {
            corpMapConfig["selectedRegions"] = data.states.map(function(item){return item.name})
            hash = {};
            data.states.forEach(function(item){ 
              hash[item.name] = item.location_count
            });
            corpMapConfig["locationCounts"] = hash
            corpMapConfig["onRegionClick"] = function(element, code, region) {
              window.location.href = "/{{ widget.corp_search_page.value }}" + "?state=" + code.toUpperCase();
            }
            $('.corporate-map').vectorMap(corpMapConfig);
        });
      } else {
        $('.corporate-map').vectorMap(corpMapConfig);
      }
    };
  </script>

  <div id="corporate-map"></div>
</div>
