<div class="corporate-map widget">
  <script class="config" type="application/json">
    {
      "map": "usa_en",
      "borderColor": "#FFFFFF",
      "color": "#d6d6d6",
      "hoverColor": {{ widget.corporate_map.value.hover_color }},
      "selectedColor": {{ widget.corporate_map.value.primary_color }},
      "selectedRegions": {{ widget.corporate_map.value.populated_states }},
      "locationCounts": {{ widget.corporate_map.value.state_location_counts }}
    }
  </script>

  <div id="corporate-map"></div>
</div>
