<div class="corporate-map widget">
  <script class="config" type="application/json">
    {
      "map": "usa_en",
      "borderColor": "#FFFFFF",
      "color": "#d6d6d6",
      "hoverColor": "#333333",
      "selectedColor": "#222222",
      "selectedRegions": ["CA", "OR", "WA", "NV", "WY", "ID"],
      "locationCounts": {
        "MO": 2,
        "OR": 3,
        "NV": 145,
        "WY": 34,
        "ID": 10,
        "CA": 4,
        "WA": 5
      }
    }
  </script>

  <div id="corporate-map"></div>
</div>
