<div class="form-template widget">

  <h2 class="form-heading">{{ widget.form_title.best_value}}</h2>

  <p class="form-note">{{ widget.form_note.best_value }}</p>

  <form id="form-template" class="form h-entry" action="{{ widget.form_url.best_value | url_encode }}" method="POST">
    <input type="hidden" class="u-syndication" name="u-syndication" value="{{ widget.form_syndication.best_value | url_encode }}" />

    <div class="p-author h-card">
      <div class="form-field">
        <label for="p-given-name">First Name</label>
        <input type="text" id="p-given-name" class="p-name p-given-name" name="p-given-name" required />
      </div>

      <div class="form-field">
        <label for="p-family-name">Last Name</label>
        <input type="text" id="p-family-name" class="p-name p-family-name" name="p-family-name" required />
      </div>

      <div class="form-field">
        <label for="u-email">Email</label>
        <input type="email" id="u-email" class="u-email" name="u-email" required />
      </div>

      <div class="form-field">
        <label for="p-tel">Phone Number <span class="form-optional">optional</span></label>
        <input type="tel" id="p-tel" class="p-tel" name="p-tel" />
      </div>

    </div>

    <div class="form-field">
      <label for="p-g5-rooms">How many bedrooms would you like? <span class="form-optional">optional</span></label>
      <input type="number" id="p-g5-rooms" class="p-g5-rooms" name="p-g5-rooms" />
    </div>

    <div class="form-field">
      <label for="dt-start">Desired move-in date? <span class="form-optional">optional</span></label>
      <input type="date" id="dt-start" class="dt-start" name="dt-start" />
    </div>

    <div class="form-field">
      <label for="e-content">Any Questions? <span class="form-optional">optional</span></label>
      <textarea id="e-content" class="e-content" name="e-content"></textarea>
    </div>

    <input type="submit" value="Send" />
  </form>

</div>
