<form>
  <div class="form-field">
    {{ widget.lead_form_url.id_hidden_field }}
    <label for="{{ widget.lead_form_url.value_field_id }}">
      Lead Form URL
    </label>
    <input type="text"
      placeholder="Lead Form URL"
      id="{{ widget.lead_form_url.value_field_id }}"
      name="{{ widget.lead_form_url.value_field_name }}"
      value="{{ widget.lead_form_url.best_value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.floorplans_service_url.id_hidden_field }}
    <label for="{{ widget.floorplans_service_url.value_field_id }}">
      Floorplans Service URL
    </label>
    <input type="text"
      placeholder="client urn"
      id="{{ widget.floorplans_service_url.value_field_id }}"
      name="{{ widget.floorplans_service_url.value_field_name }}"
      value="{{ widget.floorplans_service_url.best_value }}"
    />
  </div>
  <input type="submit" value="Save" class="btn" />
</form>
