  <base href="/" />
  <script>
    var G5 = {
        storeId: 4843,
        iuiContainer: 'iui-container',
//          leadFormUrl: 'http://localhost:8001/leads?unit_id=33'
        leadFormUrl: 'https://ltng-cls-6c0sn2g-matt-industri.herokuapp.com/api/v1/locations/g5-cl-1234-test-location/html_forms/apply'
    };
    window.MultiFamilyIuiCardsENV = {"environment":"development","baseURL":"/","locationType":"auto","EmberENV":{"FEATURES":{},"PER_PAGE":3},"APP":{"LOG_RESOLVER":true,"LOG_ACTIVE_GENERATION":true,"LOG_MODULE_RESOLVER":true,"LOG_VIEW_LOOKUPS":true},"LOG_MODULE_RESOLVER":true};
    window.EmberENV = window.MultiFamilyIuiCardsENV.EmberENV;
  </script>

  <div id="iui-container"></div>
  <script>
    //window.MultiFamilyIuiCards = require('multi-family-iui-cards/app')['default'].create(MultiFamilyIuiCardsENV.APP);
  </script>
