<form>
  <div class="field">
    {{ widget.photo_url.id_hidden_field }}
    <label for="{{ widget.photo_url.value_field_id }}" >
      URL
    </label>
    <input type="text"
      id="{{ widget.photo_url.value_field_id }}"
      name="{{ widget.photo_url.value_field_name }}"
      value="{{ widget.photo_url.value | UrlEncode }}"
    />
  </div>

  <div class="field">
    {{ widget.photo_caption.id_hidden_field }}
    <label for="{{ widget.photo_caption.value_field_id }}" >
      Caption
    </label>
    <input type="text"
      id="{{ widget.photo_caption.value_field_id }}"
      name="{{ widget.photo_caption.value_field_name }}"
      value="{{ widget.photo_caption.value }}"
    />
  </div>

  <input type="submit" value="Save" />
</form>
