<figure class="photo {{ widget.photo_alignment.value }} widget h-media" itemscope itemtype="http://schema.org/Photograph">
  {% if widget.photo_link_url.value != "" %}
    <a href="{{ widget.photo_link_url.value | url_encode }}">
  {% endif %}
  <img class="u-photo" src="{{ widget.photo_source_url.value | url_encode }}" alt="{{ widget.photo_alt_tag.value }}" itemprop="image" />
  {% if widget.photo_link_url.value != "" %}
    </a>
  {% endif %}
  
  {% if widget.photo_caption.value != "" %}
    <figcaption class="p-name" itemprop="description">{{ widget.photo_caption.value }}</figcaption>
  {% endif %}
</figure>
