.human-directions .canvas {
  height: 0;
  padding-bottom: 75%;
  padding-top: 30px;
  width: 100%;
  position: relative;
}
/*google map bootstrap fix*/
.human-directions .canvas img {
  max-width:none;
}
.human-directions .canvas label {
  width:auto;
  display:inline;
}
