.human-directions .canvas {
  width: 500px;
  height: 500px;
}
/*google map bootstrap fix*/
.human-directions .canvas img {
  max-width:none;
}
.human-directions .canvas label {
  width:auto;
  display:inline;
}
