<div class="ss-featured-unit-categories widget">

<script id="ss-featured-unit-categories-config" type="application/javascript">
  var ssFeaturedUnitCategories = {
    "unit_service_host": "{{ widget.unit_service_host.value }}",
    "location_urn": "{{ widget.location_urn.value }}",
    "unit_page_url": "{{ widget.unit_page_url.value }}"
  }
</script>
  
<p class="iui-title">Select a Size</p>

  <div class="iui-steps">
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <span>4</span>
  </div>

  <div class="iui-container">
    <p>Loading Unit Options</p>
  </div>
</div>