<form>

  <div class="field">
    {{ widget.meta_description.id_hidden_field }}
    <label for="{{ widget.meta_description.value_field_id }}" >
      Description
    </label>
    <input type="text"
      id="{{ widget.meta_description.value_field_id }}"
      name="{{ widget.meta_description.value_field_name }}"
      value="{{ widget.meta_description.best_value }}"
    />
  </div>

  <div class="field">
    {{ widget.google_plus_id.id_hidden_field }}
    <label for="{{ widget.google_plus_id.value_field_id }}" >
      Google+ ID
    </label>
    <input type="text"
      id="{{ widget.google_plus_id.value_field_id }}"
      name="{{ widget.google_plus_id.value_field_name }}"
      value="{{ widget.google_plus_id.best_value }}"
    />
  </div>

  <div class="field">
    {{ widget.google_site_verification.id_hidden_field }}
    <label for="{{ widget.google_site_verification.value_field_id }}" >
      Google Webmaster Tools Verification
    </label>
    <input type="text"
      id="{{ widget.google_site_verification.value_field_id }}"
      name="{{ widget.google_site_verification.value_field_name }}"
      value="{{ widget.google_site_verification.best_value }}"
    />
  </div>

  <div class="field">
    {{ widget.optimizely_id.id_hidden_field }}
    <label for="{{ widget.optimizely_id.value_field_id }}" >
      Optimizely ID
    </label>
    <input type="text"
      id="{{ widget.optimizely_id.value_field_id }}"
      name="{{ widget.optimizely_id.value_field_name }}"
      value="{{ widget.optimizely_id.best_value }}"
    />
  </div>

  <input type="submit" value="Save" />
</form>
