.fat-footer .social-links,
.fat-footer nav ul,
.fat-footer .widget {
  margin-bottom: 1em;
}
.dxm {
  clear: right;
}
.hcard .p-organization-name,
.hcard .h-adr,
.hcard .p-street-address,
.hcard .p-tel,
.hcard .p-url {
  display: block;
}
.hours span,
.hours  strong {
  display: block;
}

@media (min-width: 768px) {
  .fat-footer .widget {
    float: left;
  }
  .fat-footer nav {
    font-size: 14px;
  }
  .fat-footer .social-links {
    float: right;
  }
  .fat-footer ul {
    float: left;
  }
  .fat-footer .hcard,
  .fat-footer .hours {
    margin-right: 3em;
  }
  .dxm {
    float: right;
  }
}
