/* GLOBAL STYLES */
.preview .wrapper {
  overflow: visible;
}

.preview [role=main] {
  position: relative;
}

.media:after {
  clear: both;
  content: '';
  display: table;
}
.media .media-img {
  float: left;
}

.edit-widget-lightbox {
  background: #fff;
  box-shadow: 0 2px 6px #000;
  box-sizing: border-box;
  left: 0;
  padding: 25px 25px 20px;
  position: absolute;
  top: 0;
  width: 100%;
}

.edit-widget input {
  border: 1px solid #c2c2c2 !important;
  box-sizing: border-box !important;
  font-size: 12px  !important;
  padding: .7em 1em !important;
  margin: 0 0 10px  !important;
  width: 100% !important;
}

.edit-buttons:after {
  clear: both;
  content: '';
  display: table;
}

.edit-buttons .cancel {
  color: #222;
  float: left;
  text-decoration: underline;
  text-transform: uppercase;
}

.edit-buttons .btn {
  float: right;
}

.cancel,
.btn {
  font-size: 12px !important;
}

.btn {
  background: #f17c4f !important;
  border: none !important;
  margin: 0 0 0 15px!important;
  padding: .3em 1em !important;
  text-align: center !important;
  text-transform: uppercase !important;
  width: 8em;
}

.btn--b {
  background: #222 !important;
}


/* LIVE EDIT PHOTOS */
.edit-photo-widget {
  padding-left: 16%;
  padding-right: 16%;
}

.edit-photo-widget .form-fields {
  border: 1px solid #c2c2c2;
  margin-bottom: 1em;
}

.edit-photo-widget fieldset {
  -webkit-transition: background .2s linear;
  -moz-transition: background .2s linear;
  -o-transition: background .2s linear;
  transition: background .2s linear;
  margin: 0;
  padding: 20px 50px;
  position: relative;
}

.edit-photo-widget fieldset + fieldset {
  border-top: 1px solid #c2c2c2;
}

.edit-photo-widget fieldset:hover {
  background: #f0f0f0;
}

.edit-photo-widget .photo-delete,
.edit-photo-widget .photo-move {
  -webkit-transition: opacity .4s linear;
  -moz-transition: opacity .4s linear;
  -o-transition: opacity .4s linear;
  transition: opacity .4s linear;
  display: block;
  font-size: 21px;
  opacity: 0;
  position: absolute;
  top: 30px;
}

.edit-photo-widget .photo-delete {
  font-weight: bold;
  left: 25px;
  text-decoration: none;
}

.edit-photo-widget .photo-move {
  cursor: move;
  padding: .5em 0;
  right: 15px;
}

.edit-photo-widget .photo-move span {
  border-top: 1px solid #222;
  display: block;
  height: 2px;
  width: 25px;
}

.edit-photo-widget fieldset:hover .photo-delete,
.edit-photo-widget fieldset:hover .photo-move {
  opacity: 1;
}

.edit-photo-widget .media-img {
  padding-right: 3%;
  width: 23%;
}

.edit-photo-widget .media-body {
  float: left;
  width: 74%;
}
