<form>
  <div class="form-field">
    {{ widget.lead_form_url.id_hidden_field }}
    <label for="{{ widget.lead_form_url.value_field_id }}">
      Lead Form URL
    </label>
    <input type="text"
      placeholder="http://path.to.my.leads.service"
      id="{{ widget.lead_form_url.value_field_id }}"
      name="{{ widget.lead_form_url.value_field_name }}"
      value="{{ widget.lead_form_url.best_value | url_encode }}"
    />
  </div>
  <div class="form-field">
    {{ widget.core_store_id.id_hidden_field }}
    <label for="{{ widget.core_store_id.value_field_id }}">
      Core Store ID
    </label>
    <input type="text"
      placeholder="1234"
      id="{{ widget.core_store_id.value_field_id }}"
      name="{{ widget.core_store_id.value_field_name }}"
      value="{{ widget.core_store_id.best_value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.service_host.id_hidden_field }}
    <label for="{{ widget.service_host.value_field_id }}">
      Service Host
    </label>
    <input type="text"
      placeholder="http://www.mydomain.com"
      id="{{ widget.service_host.value_field_id }}"
      name="{{ widget.service_host.value_field_name }}"
      value="{{ widget.service_host.best_value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.unit_size_help_url.id_hidden_field }}
    <label for="{{ widget.unit_size_help_url.value_field_id }}">
      Unit Size Help URL
    </label>
    <input type="text"
      placeholder="http://www.mydomain.com/unit_size_help.html"
      id="{{ widget.unit_size_help_url.value_field_id }}"
      name="{{ widget.unit_size_help_url.value_field_name }}"
      value="{{ widget.unit_size_help_url.best_value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.unit_size_help_label.id_hidden_field }}
    <label for="{{ widget.unit_size_help_label.value_field_id }}">
      Unit Size Help Label
    </label>
    <input type="text"
      placeholder=""
      id="{{ widget.unit_size_help_label.value_field_id }}"
      name="{{ widget.unit_size_help_label.value_field_name }}"
      value="{{ widget.unit_size_help_label.best_value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.nearby_locations_button_label.id_hidden_field }}
    <label for="{{ widget.nearby_locations_button_label.value_field_id }}">
     Nearby Locations Button Label
    </label>
    <input type="text"
      placeholder=""
      id="{{ widget.nearby_locations_button_label.value_field_id }}"
      name="{{ widget.nearby_locations_button_label.value_field_name }}"
      value="{{ widget.nearby_locations_button_label.best_value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.primary_color.id_hidden_field }}
    <label for="{{ widget.primary_color.value_field_id }}">
      Primary Color
    </label>
    <input type="text"
      placeholder=""
      id="{{ widget.primary_color.value_field_id }}"
      name="{{ widget.primary_color.value_field_name }}"
      value="{{ widget.primary_color.best_value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.secondary_color.id_hidden_field }}
    <label for="{{ widget.secondary_color.value_field_id }}">
      Secondary Color
    </label>
    <input type="text"
      placeholder=""
      id="{{ widget.secondary_color.value_field_id }}"
      name="{{ widget.secondary_color.value_field_name }}"
      value="{{ widget.secondary_color.best_value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.accent_color.id_hidden_field }}
    <label for="{{ widget.accent_color.value_field_id }}">
      Accent Color
    </label>
    <input type="text"
      placeholder=""
      id="{{ widget.accent_color.value_field_id }}"
      name="{{ widget.accent_color.value_field_name }}"
      value="{{ widget.accent_color.best_value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.text_color.id_hidden_field }}
    <label for="{{ widget.text_color.value_field_id }}">
      Nav Text Color
    </label>
    <input type="text"
      placeholder=""
      id="{{ widget.text_color.value_field_id }}"
      name="{{ widget.text_color.value_field_name }}"
      value="{{ widget.text_color.best_value }}"
    />
  </div>
  <div class="form-field">
    {{ widget.toggle_color.id_hidden_field }}
    <label for="{{ widget.toggle_color.value_field_id }}">
      Arrow Toggle Color
    </label>
    <input type="text"
      placeholder=""
      id="{{ widget.toggle_color.value_field_id }}"
      name="{{ widget.toggle_color.value_field_name }}"
      value="{{ widget.toggle_color.best_value }}"
    />
  </div>
  <input type="submit" value="Save" class="btn" />
</form>
