<base href="/" />
<script>
  var G5 = {
      iuiContainer: 'iui-container',
      storeId: '{{ widget.core_store_id.best_value }}',
      leadFormUrl: '{{ widget.lead_form_url.best_value | url_encode }}',
      serviceHost: "{{ widget.service_host.best_value | url_encode }}"
  };
  window.SelfStorageIuiCardsENV = {"environment":"production","baseURL":"/","locationType":"auto","EmberENV":{"FEATURES":{},"PER_PAGE":20},"APP":{}};
  window.EmberENV = window.SelfStorageIuiCardsENV.EmberENV;
</script>

<style>
  .iui-cards-wrapper h3,
  .iui-cards-wrapper div.iui-cards-size-help a,
  .iui-cards-wrapper .iui-cards-nav a.active span,
  .iui-cards-wrapper .iui-cards-amenities-section span,
  .iui-cards-wrapper .nearby-locations-toggle-link,
  .iui-cards-wrapper .nearby-locations-toggle-link .nearby-locations-arrow,
  .iui-cards-wrapper a.iui-cards-nearby-location-card div,
  .iui-cards-wrapper .iui-cards-lead-form div.html_wrapper .html_field_text { color:{{ widget.primary_color.best_value }}; }
  .iui-cards-wrapper a.iui-cards-nearby-location-card div.iui-cards-nearby-distance { border-top:1px solid {{ widget.primary_color.best_value }}; }
  .iui-cards-wrapper .iui-cards-category-card,
  .iui-cards-wrapper .iui-cards-unit-header,
  .iui-cards-wrapper .iui-cards-unit-actions a:nth-of-type(1),
  .iui-cards-wrapper .iui-cards-nearby-locations.nearby-locations-open { background:{{ widget.primary_color.best_value }}; }

  .iui-cards-wrapper h3 span,
  .iui-cards-wrapper div.iui-cards-size-help a span,
  .iui-cards-wrapper .iui-cards-nav a.active,
  .iui-cards-wrapper .iui-cards-category-special,
  .iui-cards-wrapper .iui-cards-unit-header .iui-cards-special-tag,
  .iui-cards-wrapper .iui-cards-special-section,
  .iui-cards-wrapper a.iui-cards-nearby-location-card div.iui-cards-nearby-heading,
  .iui-cards-wrapper .iui-cards-nearby-heading,
  .iui-cards-wrapper .iui-thank-you-top,
  .iui-cards-wrapper .iui-cards-lead-form div.html_wrapper .html_field_label { background:{{ widget.secondary_color.best_value }}; }
  .iui-cards-wrapper .iui-cards-unit-header .iui-cards-special-tag .iui-cards-special-arrow { border-right:13px solid {{ widget.secondary_color.best_value }}; }
  .iui-cards-wrapper.narrow .iui-cards-unit-header .iui-cards-special-tag .iui-cards-special-arrow { border-right:7px solid {{ widget.secondary_color.best_value }}; }

  .iui-cards-wrapper .iui-cards-unit-header .iui-cards-online-price { color:{{ widget.accent_color.best_value }}; }
  .iui-cards-wrapper .iui-cards-amenities-section svg path,
  .iui-cards-wrapper .iui-cards-amenities-section svg rect { fill:{{ widget.accent_color.best_value }}; }
  .iui-cards-wrapper .iui-cards-lead-form .iui-submit-button input,
  .iui-cards-wrapper .iui-cards-unit-actions a:nth-of-type(2),
  .iui-cards-wrapper .iui-cards-final-links .iui-cards-directions-link { background:{{ widget.accent_color.best_value }} }

  .iui-cards-wrapper div,
  .iui-cards-wrapper span,
  .iui-cards-wrapper a,
  .iui-cards-wrapper .iui-cards-nav a,
  .iui-cards-wrapper .iui-cards-unit-actions a,
  .iui-cards-wrapper .iui-cards-unit-actions a:hover,
  .iui-cards-wrapper .iui-cards-nearby-locations.nearby-locations-open .nearby-locations-toggle-link,
  .iui-cards-wrapper a.iui-cards-nearby-location-card div.iui-cards-nearby-heading,
  .iui-cards-wrapper .iui-cards-nearby-heading,
  .iui-cards-wrapper .iui-thank-you-top,
  .iui-cards-wrapper .iui-cards-lead-form div.html_wrapper .html_field_label,
  .iui-cards-wrapper .iui-cards-lead-form .iui-submit-button input,
  .iui-cards-wrapper .iui-cards-final-links .iui-cards-directions-link { color:{{ widget.text_color.best_value }}; }
  .iui-cards-wrapper .category-card-title,
  .iui-cards-wrapper .iui-cards-special-section .special-price { border-bottom:1px solid {{ widget.text_color.best_value }}; }
</style>

<div id="iui-container"></div>
