<form>
  <div class="form-field">
    {{ widget.text.id_hidden_field }}
    <label for="{{ widget.text.value_field_id }}" >
      Enter text
    </label>
    <textarea
      id="ckeditor"
      name="{{ widget.text.value_field_name }}"
     >
      {{ widget.text.best_value }}
    </textarea>
  </div>

  <div class="form-field">
    {% for location in widget.client_locations %}
      {{ widget.included_locations.id_hidden_field }}
      <input type="checkbox"
        id="{{ widget.included_locations.value_field_id }}{{ location.id}}"
        name="{{ widget.included_locations.value_field_name }}[]"
        value="{{ location.id }}"
        {% assign locations_array = widget.included_locations.best_value %}
        {% if locations_array contains location.id %}
         checked
        {% endif %}
      />
      <label for="{{ widget.included_locations.value_field_id }}{{location.id}}" >
        {{ location.name }}
        {{ location.id }}
      </label>
      <br>
    {% endfor %}
  </div>

  <input type="submit" value="Save" class="btn" />
</form>
