<script id="directions-config" type="application/json">
  {
    "address": "{{ widget.location_street_address.best_value }}, {{ widget.location_city.best_value }}, {{ widget.location_state.best_value }} {{ widget.location_postal_code.best_value }}"
  }
</script>

<div class="directions widget">
  <div id="map-canvas"></div>
  <div class="directions-text">
    <strong>Start: </strong>
    <input type="text" id="start" onchange="calcRoute();">
    <input type="submit" onclick="calcRoute();" best_value="Get Directions">
    <div id="directionsPanel"></div>
  </div>
</div>
