<div class="footer-info widget">
  <p class="copyright">Copyright &copy; <span id="current-year"></span> {{widget.location_name.best_value}}</p>

  <p>
    <a href="http://getg5.com" class="dxm">DXM by G5</a>
    {% if widget.display_housing_icon.best_value == "true" %}
      <span class="housing-icon access">Equal Opportunity Housing</span>
    {% endif %}
    {% if widget.display_handicap_icon.best_value == "true" %}
      <span class="handicap-icon access">Handicap Friendly</span>
    {% endif %}
  </p>

  <a class="corporate-logo" href="{{ widget.corporate_url.best_value | url_encode }}">
    <img src="{{ widget.corporate_logo_url.best_value | url_encode }}" alt="{{ widget.client_name.best_value }}" />
  </a>
</div>
