<div class="footer-info widget">

  {% if widget.facebook_username.best_value != '' or widget.twitter_username.best_value != "" or widget.yelp_username.best_value != "" or widget.google_plus_id.best_value != "" %}
  <div class="social-links">
    {% if widget.facebook_username.best_value != ""  %}
    <a href="http://facebook.com/{{ widget.facebook_username.best_value | url_encode }}" class="facebook" title="Facebook" rel="me" target="_blank">Facebook</a>
    {% endif %}

    {% if widget.twitter_username.best_value != ""  %}
      <a href="http://www.twitter.com/{{ widget.twitter_username.best_value | url_encode }}" class="twitter" title="Twitter" rel="me" target="_blank">Twitter</a>
    {% endif %}

    {% if widget.yelp_username.best_value != ""  %}
      <a href="http://www.yelp.com/biz/{{ widget.yelp_username.best_value | url_encode }}" class="yelp" title="Yelp" rel="me" target="_blank">Yelp</a>
    {% endif %}

    {% if widget.google_plus_id.best_value != ""  %}
      <a href="https://plus.google.com/{{ widget.google_plus_id.best_value | url_encode }}" class="google-plus" title="Google Plus" rel="me" target="_blank">Google Plus</a>
    {% endif %}

    {% if widget.linkedin_username.best_value != ""  %}
      <a href="http://www.linkedin.com/in/{{ widget.linkedin_username.best_value | url_encode }}" class="linked-in" title="LinkedIn" rel="me" target="_blank">LinkedIn</a>
    {% endif %}
  </div>
  {% endif %}

  {% if widget.custom_link_1_url.best_value != '' or widget.custom_link_2_url.best_value != '' %}
  <div class="nav">
    {% if widget.custom_link_1_url.best_value != ''%}
    <a href="{{ widget.custom_link_1_url.best_value | url_encode }}">{{ widget.custom_link_1_text.best_value }}</a>
    {% endif %}
    {% if widget.custom_link_2_url.best_value != '' %}
    <a href="{{ widget.custom_link_2_url.best_value | url_encode }}">{{ widget.custom_link_2_text.best_value }}</a>
    {% endif %}
  </div>
  {% endif %}

  {% if widget.display_copyright.best_value == "true" %}
  <p class="copyright">Copyright &copy; <span id="current-year">    </span> {{widget.location_name.best_value}}</p>
  {% endif %}

  {% if widget.display_housing_icon.best_value == "true"  or widget.display_handicap_icon.best_value == "true" %}
  <p>
    {% if widget.display_dxm.best_value == "true" %}
      <a href="http://getg5.com" class="dxm">DXM by G5</a>
    {% endif %}
    {% if widget.display_housing_icon.best_value == "true" %}
    <span class="housing-icon access">Equal Opportunity Housing</span>
    {% endif %}

    {% if widget.display_handicap_icon.best_value == "true" %}
    <span class="handicap-icon access">Handicap Friendly</span>
    {% endif %}
  </p>
  {% endif %}

  {% if widget.corporate_logo_url.best_value != '' %}
  <a class="corporate-logo" href="{{ widget.corporate_url.best_value | url_encode }}">
    <img src="{{ widget.corporate_logo_url.best_value | url_encode }}" alt="{{ widget.client_name.best_value }}" />
  </a>
  {% endif %}

</div>
