<div class="edit-html-widget edit-widget-lightbox edit-widget">
  <form>

    <div class="form-field">
      <label for="edit-html">Edit Text</label>
      <textarea
        class="edit-html"
        name="html"
       >
       Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean odio nibh, euismod a, lobortis in, laoreet eu, eros. Praesent lorem risus, commodo sit amet, viverra in, sagittis nec, justo.
      </textarea>
    </div>

    <div class="edit-buttons">
      <a class="cancel" href="#">Cancel</a>
      <a class="btn" href="#">Save</a>
    </div>
  </form>
</div>