<form>
  <div class="field">
    <label for="address">Address</label>
		<input type="hidden"
			name="widget[properties_attributes][{{ widget.human_directions.address.id }}][id]"
			value="{{ widget.human_directions.address.id }}">

    <input type="text"
			placeholder="Address"
			name="widget[properties_attributes][{{ widget.human_directions.address.id }}][value]"
      value="{{ widget.location.address }}"
      id="address" />
  </div>
  <div class="field">
    <label>Map Type</label>
		<input type="hidden"
			name="widget[properties_attributes][{{ widget.human_directions.map_type.id }}][id]"
			value="{{ widget.human_directions.map_type.id }}">
    <label for="roadmap">
      <input type="radio"
        name="widget[properties_attributes][{{ widget.human_directions.map_type.id }}][value]"
        value="ROADMAP"
        id="roadmap"
        checked
        />
        Road Map
    </label>
    <label for="satellite">
      <input type="radio"
        name="widget[properties_attributes][{{ widget.human_directions.map_type.id }}][value]"
        value="SATELLITE"
        id="satellite"
        />
        Satellite
    </label>
  </div>
  <div class="field">
    <label>Allow Panning and Zooming?</label>
		<input type="hidden"
			name="widget[properties_attributes][{{ widget.human_directions.pan_zoom.id }}][id]"
			value="{{ widget.human_directions.pan_zoom.id }}">
    <label for="pan-zoom-true">
      <input type="radio"
        name="widget[properties_attributes][{{ widget.human_directions.pan_zoom.id }}][value]"
        value="true"
        id="pan-zoom-true"
        checked
        />
        True
    </label>
    <label for="pan-zoom-false">
      <input type="radio"
        name="widget[properties_attributes][{{ widget.human_directions.pan_zoom.id }}][value]"
        value="false"
        id="pan-zoom-false"
        />
        False
    </label>
  </div>
  <div class="field">
    <label>Written Directions</label>
		<input type="hidden"
			name="widget[properties_attributes][{{ widget.human_directions.written_directions.id }}][id]"
			value="{{ widget.human_directions.written_directions.id }}">
    <label for="written-directions">
      <textarea
        name="widget[properties_attributes][{{ widget.human_directions.written_directions.id }}][value]"
        id="written-directions"
        />
    </label>
  </div>

  <input type="submit" value="Save" />
</form>
