<form>
  <div class="form-field">
    {{ widget.address.id_hidden_field }}
    <label for="{{ widget.address.value_field_id }}" >
      Address
    </label>
    <input type="text"
      id="{{ widget.address.value_field_id }}"
      name="{{ widget.address.value_field_name }}"
      value="{{ widget.address.best_value }}"
    />
  </div>

  <label>Map Type</label>
  <div class="form-field check-field">
    {{ widget.map_type.id_hidden_field }}
    <label for="{{ widget.map_type.value_field_id }}_roadmap" >
      Road Map
    </label>
    <input type="radio"
      id="{{ widget.map_type.value_field_id }}_roadmap"
      name="{{ widget.map_type.value_field_name }}"
      value="ROADMAP"
      checked="checked"
    />
    <label for="{{ widget.map_type.value_field_id }}_satellite" >
      Satellite
    </label>
    <input type="radio"
      id="{{ widget.map_type.value_field_id }}_satellite"
      name="{{ widget.map_type.value_field_name }}"
      value="SATELLITE"
      {% if widget.map_type.best_value == "SATELLITE" %}
      checked="checked"
      {% endif %}
    />
  </div>
  <div class="form-field check-field">
    {{ widget.allow_pan_zoom.id_hidden_field }}
    <label for="{{ widget.allow_pan_zoom.value_field_id }}" >
      Allow Panning and Zooming
    </label>
    <input type="checkbox"
      id="{{ widget.allow_pan_zoom.value_field_id }}"
      name="{{ widget.allow_pan_zoom.value_field_name }}"
      value="true"
      {% if widget.allow_pan_zoom.best_value == "true" %}
      checked="checked"
      {% endif %}
    />
  </div>
  <div class="form-field">
    {{ widget.written_directions.id_hidden_field }}
    <label for="{{ widget.written_directions.value_field_id }}">Written Directions</label>
    <textarea
      name="{{ widget.written_directions.value_field_name }}"
      id="{{ widget.written_directions.value_field_id }}"
      style="vertical-align:top;">{{ widget.written_directions.best_value }}</textarea>
  </div>

  <input type="submit" value="Save" class="btn" />
</form>
