<div class="gallery widget content">

  <h2>{{ widget.gallery_title.best_value }}</h2>

  <div class = "flexslider">
    <ul class="slides">
      {% if widget.gallery_photo1_url.best_value != "" %}
      <li>
        <img src="{{ widget.gallery_photo1_url.best_value | url_encode}}" alt="{{ widget.gallery_photo1_caption.best_value }}" />
        {% if widget.gallery_photo1_caption.best_value != "" %}
        <p class="photo-caption">{{ widget.gallery_photo1_caption.best_value }}</p>
        {% endif %}
      </li>
      {% endif %}

      {% if widget.gallery_photo2_url.best_value != "" %}
      <li>
        <img src="{{ widget.gallery_photo2_url.best_value | url_encode}}" alt="{{ widget.gallery_photo2_caption.best_value }}" />
        {% if widget.gallery_photo2_caption.best_value != "" %}
        <p class="photo-caption">{{ widget.gallery_photo2_caption.best_value }}</p>
        {% endif %}
      </li>
      {% endif %}

      {% if widget.gallery_photo3_url.best_value != "" %}
      <li>
        <img src="{{ widget.gallery_photo3_url.best_value | url_encode}}" alt="{{ widget.gallery_photo3_caption.best_value }}" />
        {% if widget.gallery_photo3_caption.best_value != "" %}
        <p class="photo-caption">{{ widget.gallery_photo3_caption.best_value }}</p>
        {% endif %}
      </li>
      {% endif %}

      {% if widget.gallery_photo4_url.best_value != "" %}
      <li>
        <img src="{{ widget.gallery_photo4_url.best_value | url_encode}}" alt="{{ widget.gallery_photo4_caption.best_value }}" />
        {% if widget.gallery_photo4_caption.best_value != "" %}
        <p class="photo-caption">{{ widget.gallery_photo4_caption.best_value }}</p>
        {% endif %}
      </li>
      {% endif %}

      {% if widget.gallery_photo5_url.best_value != "" %}
      <li>
        <img src="{{ widget.gallery_photo5_url.best_value | url_encode}}" alt="{{ widget.gallery_photo5_caption.best_value }}" />
        {% if widget.gallery_photo5_caption.best_value != "" %}
        <p class="photo-caption">{{ widget.gallery_photo5_caption.best_value }}</p>
        {% endif %}
      </li>
      {% endif %}

      {% if widget.gallery_photo6_url.best_value != "" %}
      <li>
        <img src="{{ widget.gallery_photo6_url.best_value | url_encode}}" alt="{{ widget.gallery_photo6_caption.best_value }}" />
        {% if widget.gallery_photo6_caption.best_value != "" %}
        <p class="photo-caption">{{ widget.gallery_photo6_caption.best_value }}</p>
        {% endif %}
      </li>
      {% endif %}
    </ul>
  </div>

</div> <!-- end .content -->
