<form>
  <fieldset>
    <legend>Choose fields to include in form</legend>
    <div class="field check">
      <input type="checkbox" />
      <label>Name</label>
    </div>
    <div class="field check">
      <input type="checkbox" />
      <label>Email</label>
    </div>
    <div class="field check">
      <input type="checkbox" />
      <label>Phone Number</label>
    </div>
    <div class="field check">
      <input type="checkbox" />
      <label>Address</label>
    </div>
    <div class="field check">
      <input type="checkbox" />
      <label>Message</label>
    </div>
  </fieldset>
  <input type="submit" value="Save" />
</form>