<div class="apply-form widget g5-enhanced-form">

  {% if widget.form_title.best_value != "" %}
    <h2 class="form-heading">{{ widget.form_title.best_value}}</h2>
  {% endif %}

  {% if widget.form_note.best_value != "" %}
    <p class="form-note">{{ widget.form_note.best_value }}</p>
  {% endif %}

  <form id="form-template" class="form h-entry" action="{{ widget.form_url.best_value | url_encode }}" method="POST">
    <input type="hidden" class="u-syndication" name="u-syndication" value="{{ widget.form_syndication_url.best_value | url_encode }}" />

    <div class="p-author h-card">
      <div class="form-field">
        <label for="p-name">Full Name</label>
        <input type="text" id="p-name" class="p-name" name="p-name" required />
      </div>

      <div class="form-field">
        <label for="u-email">Email</label>
        <input type="email" id="u-email" class="u-email" name="u-email" required />
      </div>

      {% if widget.form_display_phone.best_value == "true" %}
        <div class="form-field">
          <label for="p-tel">Phone Number <span class="form-optional">optional</span></label>
          <input type="tel" id="p-tel" class="p-tel" name="p-tel" />
        </div>
      {% endif %}
    </div>
    
    <div class="form-field">
      <label for="e-content">Message <span class="form-optional">optional</span></label>
      <textarea id="e-content" class="e-content" name="e-content"></textarea>
    </div>

    <input type="submit" value="Send" />
  </form>

</div>
