.gallery-basic {
  position: relative;
}
.gallery-basic figure {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.gallery-basic figure:not(:first-child) {
  display: none;
}
.gallery-basic figure:first-child {
  position: static;
}
