{% if widget.display_contact_info.best_value == "true" %}
<div class="contact-info vcard widget">
  <p class="h-adr adr">
    {% if widget.contact_info_street.best_value != empty %}
    <span class="p-street-address street-address">
      {{ widget.contact_info_street.best_value}}
    </span>
    {% endif %}

    {% if widget.contact_info_street_two.best_value != empty %}
    <span class="p-street-address street-address">
      {{ widget.contact_info_street_two.best_value}}
    </span>
    {% endif %}

    {% if widget.contact_info_city.best_value != empty %}
    <span class="p-locality locality">
      {{ widget.contact_info_city.best_value }}</span>,
    {% endif %}

    {% if widget.contact_info_state.best_value != empty %}
    <span class="p-region region">
      {{ widget.contact_info_state.best_value }}
    </span>
    {% endif %}

    {% if widget.contact_info_zip.best_value != empty %}
    <span class="p-postal-code postal-code">
      {{ widget.contact_info_zip.best_value }}
    </span>
    {% endif %}

    {% if widget.contact_info_country.best_value != empty %}
    <span class="p-country-name country-name">
      {{ widget.contact_info_country.best_value }}
    </span>
    {% endif %}
  </p>

  {% if widget.contact_info_tel.best_value != empty %}
  <p class="p-tel tel">
    T: <a href="tel:{{ widget.contact_info_tel.best_value }}">{{ widget.contact_info_tel.best_value }}</a>
  </p>
  {% endif %}

  {% if widget.contact_info_fax.best_value != empty %}
  <p class="p-tel tel">
    F: {{ widget.contact_info_fax.best_value }}
  </p>
  {% endif %}
</div>
{% endif %}
